<div style="font-size: 1.2em;">Observação
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<!-- <div style="font-size: 0.8em;margin-top: 5px;">* O colaborador será salvo na unidade de {{tokenInfo.Unidade}}</div> -->
<hr>
<div style="position: relative;">
    <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Nota da aula</mat-label>
        <textarea [(ngModel)]="observacao" disabled name="observacao" matInput></textarea>
    </mat-form-field>

</div>
<!-- </div>
                        </div>
                    </div>
                </div> -->