<div style="font-size: 1.2em;">Caixa Diário

    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button (click)="fechar()" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<hr>
<!--
<form [formGroup]="produtoForm" (ngSubmit)="onSubmit(produtoForm)">
   
    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nº Doc</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field (focusout)="onFocusOutDateEvent($event, 'iniUm')" appearance="standard"
    style="width: 145px; ">
    <mat-label>Previsão 1</mat-label>
    <input mask="00/00/0000" required name="prevInicio_1" matInput [value]="previIniOne"
        formControlName="prevInicio_1"
        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
    <mat-hint>Previsão de início 2</mat-hint>
</mat-form-field>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>


</form>
-->