<ng-container>

    <mat-sidenav-container class="example-container">

        <mat-sidenav mode="side" opened class="mat-elevation-z8">

            <div class="d-flex flex-column text-white ">
                <a class="d-flex align-items-center  mb-md-0 me-md-auto text-white text-decoration-none">
                    <span>
                        ADMINISTRATIVO<br>Unidade {{tokenInfo.Unidade}}
                    </span>
                </a>

                <hr>

                <ul class="nav nav-pills flex-column mb-auto">

                    <li *ngFor="let item of menu" routerLinkActive="active" class="nav-item {{item.class}}">

                        <a [routerLink]="[item.path]" class="nav-link text-white">
                            <mat-icon>
                                {{item.typeIcon}}
                            </mat-icon>
                            {{item.title}}
                        </a>
                    </li>

                </ul>

            </div>

        </mat-sidenav>

        <router-outlet></router-outlet>

    </mat-sidenav-container>

</ng-container>