<div style="font-size: 1.2em;">Criar Sala / {{data["unidade"].descricao}}
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>


<hr>
<form novalidate [formGroup]="salaForm" (ngSubmit)="onSubmit(salaForm)" >
    <div class="card-body">

        <mat-form-field appearance="standard" style="width: 40%; ">
            <mat-label>Descrição</mat-label>
            <input selected formControlName="descricao" name="templateName" matInput placeholder="Nome">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 18%; margin-left: 5%;">
            <mat-label>Capacidade</mat-label>
            <input selected ng-pattern="/^[a-z]*$/" formControlName="capacidade"
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" name="capacidade"
                matInput>
        </mat-form-field>

        <br>

        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Observações gerais</mat-label>
            <textarea formControlName="comentarios" name="comentarios" matInput></textarea>
        </mat-form-field>



    </div>
    <button mat-raised-button color="primary" [disabled]="!salaForm.valid" style="float:right;margin-bottom: 10px;">
        Salvar</button>
</form>

