<nav class="navbar navbar-expand-md .bg-success.bg-gradient" style="height: 60px;
background-color: rgb(73, 168, 73);
box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2), 
10px 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img class="bg-primary"
        style="margin-left: 70px; width:70px; color:white; border:none; background: rgba(202, 134, 44, 0);"
        type="button" src="../../../assets/img/logo4.png" alt="" class="img-thumbnail">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" style="color: aliceblue;margin-left: 30px;font-size: 2em;" href="#">Invictus</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- <ul style="margin-left: 45px;"
            class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                        routerLink='/adm'>Administrativo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                        routerLink='/pedag'>Pedagógico</a>
                </li>

            </ul> -->

            <ul  style="margin-left: 45px;"
                class="navbar-nav me-auto mb-2 mb-md-0">
                <li *ngFor="let item of menu" routerLinkActive="active" 
                class="nav-item {{item.class}}">
                    <a class="nav-link active" style="margin-right: 30px; font-size: 1em;color: aliceblue;" aria-current="page"
                        [routerLink]=[item.path]>{{item.title}}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="nav-item">
                    Olá, Fulano
                </li> -->
				<li>
					<button mat-button [matMenuTriggerFor]="afterMenu"><img src="../../../assets/img/nophoto.png" alt="" width="32" height="32" class="rounded-circle me-2"></button>
                    <mat-menu #afterMenu="matMenu" xPosition="after">
                      <button style="height: 30px;" type="button" (click)="trocarSenha()" mat-menu-item>trocar senha</button>
                      <!-- <button style="height: 30px;" mat-menu-item>perfil</button>                       -->
                      <button  style="height: 30px;" (click)="logout()" mat-menu-item>sair</button>
                    </mat-menu>
				</li>
				
			</ul>
        </div>
    </div>
</nav>