<div class="container" style="width: 95%; padding-top: 20px;">

    <div>
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="Conceder acesso" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openCreateUserModal()" disabled mat-icon-button>
                <mat-icon>person_add_alt</mat-icon>
            </button>
        </i>
    </div>

    <br>


    <form class="form-inline siteForm" style="margin-top: 5px;display: inline-block">

        <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">Digite ao menos um dos campos para
            pesquisar pelo usuário do sistema:
        </span>

        <div class="form-row align-items-center divSiteForm">

            <mat-form-field appearance="standard" style="transform: scale(0.85);">
                <mat-label>Nome</mat-label>
                <input #nome selected name="templateName" matInput placeholder="digite o nome">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="margin-left: 2px;transform: scale(0.85);">
                <mat-label>E-mail</mat-label>
                <input #email selected name="templateName" matInput placeholder="digite o E-mail">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="margin-left: 2px;transform: scale(0.85);">
                <mat-label>CPF</mat-label>
                <input #cpf selected name="templateName" matInput placeholder="digite o CPF">
            </mat-form-field>

            <span>
                <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button style="" (click)="pesquisar(nome.value, email.value,cpf.value)" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span>

        </div>

    </form>

    <div class="card-header " style="background-color: rgb(227, 240, 227);margin-left: 10px;
    width: 350px; font-size: 0.9em;box-shadow: 0 0 0.5em rgb(172, 170, 170);" unselectable="on"
         onselectstart="return false;" *ngIf="showMessageNoColaborador">{{mensagem}}</div>
 
     <mat-spinner @rowHighlight *ngIf="showSpinnerFirst" [diameter]="100" style="margin-left: 36.5%;
         top: 46.5%; 
         position: absolute;">
     </mat-spinner>


    <div @rowHighlight *ngIf="usuarios.length > 0" class="card card-plain mat-elevation-z8" 
        style="width: 100%;
        position: relative;
        margin-top: 50px;
        box-shadow: 0 0 1em rgb(172, 170, 170);
        background-color: rgb(227, 240, 227);">

        <div class="card-header">
            <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
                Usuários</h4>
            <p class="card-category"> Usuários com acesso sistema - {{ tokenInfo.Unidade }}</p>
        </div>

        <div class="card-body">
            <div class="table-responsive" style="height: 430px;position: relative;">

                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <thead>
                        <tr>
                            <th style="width: 2%; 
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px;"></th>

                            <th style="width: 38%;font-size:1.2em;
                                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Nome</th>

                            <th style="width: 20%;font-size:1.2em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Perfil</th>

                            <th style="width: 20%;font-size:1.2em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Autorizado</th>

                            <th style="width: 10%;
                    border-top: 0px;"></th>

                            <th style="width: 10%;
                    border-top: 0px;">                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usuarios;let i = index;" @rowHighlight>
                            <td style="text-align:center;vertical-align: middle;">
                                {{(i + 1)+(pageIndexNumber)}}
                            </td>

                            <td style="text-align:left;vertical-align: middle;">{{item.nome}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.perfil || 'sem perfil'}}</td>

                            <td style="text-align: center;vertical-align: middle;">
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="ativo"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        [style.color]="item.ativo == true ? 'green' : 'red'"
                                        mat-icon-button>
                                        <mat-icon>{{item.ativo == true ? 'done' : 'close'}}</mat-icon>
                                    </button>
                                </i>
                            </td>

                            <td style="position: relative;">

                                <!-- <i type="submit" #tooltip="matTooltip" matTooltip="deletar tarefa" matTooltipPosition="above"
                        matTooltipHideDelay="100" (click)="Delete(item.id)"
                        class="material-icons md-dark">
                        delete_outline
                      </i> -->

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button disabled (click)="openEditUserModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>settings</mat-icon>
                                    </button>
                                </i>


                            </td>
                            <td style="position: relative;">


                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="deletar"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </i> -->


                            </td>
                        </tr>

                        <!-- <tr>
                                    <td style="text-align:center;vertical-align: middle;"></td>
                                    <td style="text-align:center;vertical-align: middle;">Bruno</td>
                                    <td style="text-align: left;vertical-align: middle;">administrador</td>
                                    <td style="text-align: left;vertical-align: middle;">
                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="deletar tarefa" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button style="margin: 0px; margin: 0px;color:red" mat-icon-button>
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </i>
                                    </td>
                                    <td style="position: relative;">

                                   

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="deletar tarefa" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button style="margin: 0px; margin: 0px;" mat-icon-button>
                                                <mat-icon>search</mat-icon>
                                            </button>
                                        </i>


                                    </td>
                                    <td style="position: relative;">

                                       

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="deletar tarefa" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button style="margin: 0px; margin: 0px;" mat-icon-button>
                                                <mat-icon>delete_outline</mat-icon>
                                            </button>
                                        </i>


                                    </td>
                                </tr> -->

                    </tbody>
                </table>

            </div>

            <mat-paginator *ngIf="length > 5" style="
                background-color: rgb(227, 240, 227);
                bottom: 0px;
                right: 0px;" [length]="length" [pageSize]="5" hidePageSize="true" (page)="pageEvent = $event"
                (click)="changePage(pageEvent)">
            </mat-paginator>

        </div>

        <mat-spinner @rowHighlight *ngIf="showSpinner" [diameter]="100" style="margin-left: 46.5%;
            top: 46.5%; 
            position: absolute;">
        </mat-spinner>
    </div>   
</div>