<div style="font-size: 1.2em;">Conferência de Caixa

    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button (click)="fechar()" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>
<hr>

<div>Valor Total Recebido:</div>
<div></div>
<div></div>
<br>


<!--                  STEPPERS TABS                           -->


<mat-tab-group  [selectedIndex]="indexTab" mat-align-tabs="start">



    <!--                  CADASTRO            -->


    <mat-tab  [label]="tabs[0]">

        <div class="card-body">
            <div class="table-responsive" style="height: 430px;position: relative;">

                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <thead>
                        <tr>
                            <th style="width: 8%; 
                    text-align:left; 
                    font-size:0.8em;
                    vertical-align: middle;font-weight: 400;
                    border-top: 0px;">Nº Lanc.</th>

                            <th style="width: 8%;font-size:0.8em;
                                    vertical-align: middle;
                                    text-align:left;
                    border-top: 0px; font-weight: 400;">Nº Doc.</th>

                            <th style="width: 17%;font-size:0.8em;
                            vertical-align: middle;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">Aluno<br>Fornecedor</th>

                            <th style="width: 23%;font-size:0.8em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Nome</th>

                            <th style="width: 6%;font-size:0.8em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Forma de<br>Pagamento</th>

                            <th style="width: 6%;font-size:0.8em;font-weight: 400;
                    border-top: 0px;">Vencimento</th>

                            <th style="width: 6%;font-size:0.8em;font-weight: 400;
                    border-top: 0px;">Data Pagamento
                            </th>
                            <th style="width: 26%;font-size:0.8em;font-weight: 400;
                            border-top: 0px;">Valor Pago
                                    </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr @rowHighlight>

                            <td style="text-align:center;vertical-align: middle;font-weight: 400;font-size:0.8em;">
                                999999
                            </td>

                            <td style="text-align:left;vertical-align: middle;font-weight: 400;font-size:0.8em;">
                            999999
                            </td>

                            <td style="text-align: center;vertical-align: middle;font-weight: 400;font-size:0.8em;">
                            999999<br>98.987.987/9879-98
                            </td>

                            <td style="text-align: center;vertical-align: middle;font-weight: 400;font-size:0.8em;">
                            Álvaro Carlos Camargo Ximenes Júnior
                            </td>

                            <td style="text-align: center;vertical-align: middle;font-weight: 400;font-size:0.8em;">
                                Crédito à vista
                            </td>

                            <td style="position: relative;font-weight: 400;font-size:0.8em;">
                                12/10/2021
                            </td>
                            <td style="position: relative;font-weight: 400;font-size:0.8em;">
                                12/10/2021
                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="deletar"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="showSpinner" (click)="deleteColaborador(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </i> -->

                            </td>
                            <td style="position: relative;font-weight: 400;font-size:0.8em;">
                                R$ 9.999,99
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <mat-paginator *ngIf="length > 5" style="
                background-color: rgb(227, 240, 227);
                bottom: 0px;
                right: 0px;" [length]="length" [pageSize]="5" hidePageSize="true" (page)="pageEvent = $event"
                (click)="changePage(pageEvent)">
            </mat-paginator> -->

        </div>

    </mat-tab>



    <!--                  RESP FINANCEIRO          -->



    <mat-tab  [label]="tabs[1]">

        <!-- <form novalidate [formGroup]="responsavelFinancForm">


            <mat-form-field appearance="standard" style="width: 35%; ">
                <mat-label>Nome completo</mat-label>
                <input selected formControlName="nome" required name="nome" matInput placeholder="Nome">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                <mat-label>CPF</mat-label>
                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                    formControlName="cpf" minlength="11" maxlength="11" selected name="cpf" matInput
                    placeholder="digite o CPF">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                <mat-label>RG</mat-label>
                <input formControlName="rg"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected name="rg"
                    matInput placeholder="digite o RG">
            </mat-form-field>


            <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                <mat-label>Nascimento</mat-label>
                <date-input formControlName="nascimento" name="nascimento" matInput required></date-input>
            </mat-form-field>

            <br>

            <mat-form-field appearance="standard" style="width: 20%;">
                <mat-label>Grau de parentesco</mat-label>
                <input formControlName="parentesco" required name="naturalidadeUF" matInput
                    placeholder="Grau de parentesco">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 20%; margin-left: 2%;">
                <mat-label>Naturalidade</mat-label>
                <input selected formControlName="naturalidade" required name="naturalidade" matInput placeholder="Nome">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                <mat-label>UF</mat-label>
                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null"
                    minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required name="naturalidadeUF"
                    matInput placeholder="UF">
            </mat-form-field>

            <br>
            <mat-form-field appearance="standard" style="width: 25%;">
                <mat-label>Email</mat-label>
                <input selected formControlName="email" name="email" matInput placeholder="Email">
            </mat-form-field>


            <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                <mat-label>Celular</mat-label>
                <example-tel-input #cel name="telCelular" formControlName="telCelular"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </example-tel-input>
                
                <mat-hint>telefone com DDD</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                <mat-label>WhatsApp</mat-label>
                <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </example-tel-input>
                <mat-hint>telefone com DDD</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                <mat-label>Residencial</mat-label>
                <example-tel-input name="telResidencial" formControlName="telResidencial"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </example-tel-input>
                <mat-hint>telefone com DDD</mat-hint>
            </mat-form-field>
            <br>

            <mat-form-field appearance="standard" style="width: 10%;">
                <mat-label>CEP</mat-label>
                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" #cep
                    formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                    placeholder="apenas números">
            </mat-form-field>
            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                matTooltipPosition="above" matTooltipHideDelay="100">
                <button (click)="consultaCEPFin(cep.value)" style="margin: 0px; margin: 0px;" mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </i>

            <mat-form-field appearance="standard" style="width: 30%;margin-left: 5%;">
                <mat-label>Logradouro</mat-label>
                <input selected [(value)]="cepReturn2.logradouro" name="templateName" matInput
                    placeholder="ex: rua tal...">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 45%; margin-left: 5%;">
                <mat-label>Complemento</mat-label>
                <input selected formControlName="complemento" name="templateName" matInput
                    placeholder="ex: nº 123... sala 10... apto 123...">
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard" style="width: 30%;">
                <mat-label>Cidade</mat-label>
                <input disabled selected [(value)]="cepReturn2.localidade" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 10%; margin-left: 5%;">
                <mat-label>UF</mat-label>
                <input disabled selected [(value)]="cepReturn2.uf" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
                <mat-label>Bairro</mat-label>
                <input selected [(value)]="cepReturn2.bairro" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>
            <br>


            <div style="font-size: 0.9em;">
                <i style="margin-left: 5px; position: relative;top: 5px;" #tooltip="matTooltip"
                    matTooltip="anexar comp. de residência" matTooltipPosition="above" matTooltipHideDelay="100">
                    
                    <mat-icon style="color: green; margin-left: 0px; font-size: 20px;">done</mat-icon>
                    
                </i>
                comprovante de residência
                <i style="margin-left: 5px; position: relative;top: 5px;" #tooltip="matTooltip"
                    matTooltip="anexar comp. de residência" matTooltipPosition="above" type="button"
                    matTooltipHideDelay="100">
                    
                    <mat-icon style="margin-left: 0px; font-size: 20px;">attach_file</mat-icon>
                    
                </i>
                <span>
                    "arquivotal.pdf"
                </span>
            </div>

            <div style="font-size: 0.8em;">
                <i style="margin-left: 5px;position: relative;top: 5px;" #tooltip="matTooltip"
                    matTooltip="anexar comp. de residência" matTooltipPosition="above" matTooltipHideDelay="100">
                    
                    <mat-icon style="color: red; margin-left: 0px; font-size: 20px;">close</mat-icon>
                    
                </i>
                CPF
                <i style="margin-left: 5px;position: relative;top: 5px;" #tooltip="matTooltip" matTooltip="pesquisar"
                    matTooltipPosition="above" type="button" matTooltipHideDelay="100">
                    
                    <mat-icon style="margin-left: 0px; font-size: 20px;">attach_file</mat-icon>
                    
                </i>
                <span>
                    "arquivotal.pdf"
                </span>
            </div>

            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Observações gerais</mat-label>
                <textarea formControlName="observacoes" name="observacoes" matInput></textarea>
            </mat-form-field>


           

        </form> -->



    </mat-tab>


    <!--                  RESP MENOR          -->


    <!-- <mat-tab  [label]="tabs[2]"> -->


        <!-- <form novalidate [formGroup]="responsavelMenorForm">
            <br>

            <section style="margin-left: 1%;" class="example-section">
                <label class="example-margin">O responsável do menor também é o responsável financeiro:</label>
                <mat-radio-group>
                    <mat-radio-button color="primary" [checked]="checkedRespMenor.sim" class="example-margin"
                        (click)="eHRespMenorEFinan(true)" value="Sim">Sim</mat-radio-button>
                    <mat-radio-button color="primary" [checked]="checkedRespMenor.nao" class="example-margin"
                        (click)="eHRespMenorEFinan(false)" value="Não">Não</mat-radio-button>
                </mat-radio-group>
            </section>

            <div class="card-body">
                <mat-form-field appearance="standard" style="width: 35%; ">
                    <mat-label>Nome completo</mat-label>
                    <input selected formControlName="nome" required name="nome" matInput placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>CPF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                        formControlName="cpf" minlength="11" maxlength="11" selected name="cpf" matInput
                        placeholder="digite o CPF">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>RG</mat-label>
                    <input formControlName="rg"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected
                        name="rg" matInput placeholder="digite o RG">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                    <mat-label>Nascimento</mat-label>
                    <date-input formControlName="nascimento" name="nascimento" matInput required></date-input>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 20%;margin-left: 2%;">
                    <mat-label>Grau de parentesco</mat-label>
                    <input formControlName="parentesco" required name="naturalidadeUF" matInput
                        placeholder="Grau de parentesco">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 20%; ">
                    <mat-label>Naturalidade</mat-label>
                    <input selected formControlName="naturalidade" required name="naturalidade" matInput
                        placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                    <mat-label>UF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null"
                        minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required
                        name="naturalidadeUF" matInput placeholder="UF">
                </mat-form-field>

                <span type="button" (click)="uploadDoc('compRes')">juntar doc</span>

                <br>
                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Email</mat-label>
                    <input selected formControlName="email" name="email" matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Celular</mat-label>
                    <example-tel-input #cel name="telCelular" formControlName="telCelular"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>WhatsApp</mat-label>
                    <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Residencial</mat-label>
                    <example-tel-input name="telResidencial" formControlName="telResidencial"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 10%;">
                    <mat-label>CEP</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" #cep
                        formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                        placeholder="apenas números">
                </mat-form-field>
                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="consultaCEPMen(cep.value)" style="margin: 0px; margin: 0px;" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
                <br>
                <mat-form-field appearance="standard" style="width: 40%;">
                    <mat-label>Logradouro</mat-label>
                    <input selected [(value)]="cepReturn3.logradouro" name="templateName" matInput
                        placeholder="ex: rua tal...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 55%; margin-left: 5%;">
                    <mat-label>Complemento</mat-label>
                    <input selected formControlName="complemento" name="templateName" matInput
                        placeholder="ex: nº 123... sala 10... apto 123...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%;">
                    <mat-label>Cidade</mat-label>
                    <input selected required [(value)]="cepReturn3.localidade" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 10%; margin-left: 15%;">
                    <mat-label>UF</mat-label>
                    <input selected required [(value)]="cepReturn3.uf" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%; margin-left: 15%;">
                    <mat-label>Bairro</mat-label>
                    <input selected [(value)]="cepReturn3.bairro" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>
                <br>


                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Observações gerais</mat-label>
                    <textarea formControlName="observacoes" name="observacoes" matInput></textarea>
                </mat-form-field>

            </div>
            

        </form> -->


    <!-- </mat-tab> -->


    <!--                             TAB MATRICULA CONFIRM             -->



    <!-- <mat-tab  [label]="tabs[3]"> -->

        <!-- <br>

        <div>
            <ng-container *ngIf="hideCursoSearchAndMessage">
                <div *ngIf="showSelectCursoSearch; else message">
                    Selecione o curso disponível nesta unidade:
                    <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
                        <mat-label>Curso</mat-label>
                        <mat-select selected name="cargo" required>
                            <mat-option></mat-option>
                            <mat-option (click)="consultarCursos(item.descricao)" *ngFor="let item of cursosDisponiveis"
                                [value]="item.descricao">
                                {{item.descricao}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ng-template #message>
                    Não há turmas com matrículas abertas nesta unidade!
                </ng-template>
            </ng-container>


            <div *ngIf="showTableCursosAndamento" class="table-responsive" style="height: 430px;position: relative;">
                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <thead>
                        <tr>
                            <th style="width: 2%;height: 20px;
                    text-align:left; border: 1px solid red;
                    vertical-align: middle;
                    border-top: 0px;"></th>

                            <th style="width: 27%;font-size:0.9em;
                                    vertical-align: middle; border: 1px solid red;
                                    text-align:left;
                    border-top: 0px; font-weight: 400;">Descrição</th>

                            <th style="width: 24%;font-size:0.9em;
                            vertical-align: middle; border: 1px solid red;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">Horário</th>

                            <th style="width: 15%;font-size:0.9em;
                    text-align:center;  border: 1px solid red;
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Início</th>

                            <th style="width: 15%;font-size:0.9em;
                    text-align:center;  border: 1px solid red;
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Término</th>

                            <th style="width: 6%;
                    border-top: 0px;"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of turmasParaMatricular;let i = index;">
                            <td style="text-align:center;vertical-align: middle;"></td>

                            <td style="text-align:left;vertical-align: middle;font-size:0.9em;">
                                {{item.descricao}}<br>Turma
                                {{item.identificador}}</td>

                            <td style="text-align: center;vertical-align: middle;font-size:0.9em;">
                                {{item.weekDayOne}} - {{item.initialHourOne}} às {{item.finalHourOne}}<br>
                            </td>

                            <td style="text-align: center;vertical-align: middle;font-size:0.9em;">
                                {{ item.previsaoAtual | date: 'dd/MM/yyyy' }}

                                <br>

                                <span *ngIf="item.iniciada" style="color:red; font-size: 0.8em;">
                                    * turma
                                    iniciada!
                                </span>

                            </td>

                            <td style="text-align: center;vertical-align: middle;font-size:0.9em;">{{
                                item.previsaoTerminoAtual |
                                date: 'dd/MM/yyyy' }}
                            </td>

                            <td style="position: relative;text-align: center;vertical-align: middle;">
                                <i style="" #tooltip="matTooltip" matTooltip="ativo" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <button (click)="selecionarTurma(item)" style="" mat-icon-button>
                                        <mat-icon style="">note_add</mat-icon>
                                    </button>
                                </i>
                            </td>
                        </tr>
                </table>
            </div>

        </div>

        <form *ngIf="showFormFinal" novalidate [formGroup]="matriculaTurmaForm"
            (ngSubmit)="submitMatricula(matriculaTurmaForm)">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 17%;margin-left: 2%;">
                <mat-label>Código do contrato:</mat-label>
                <input disabled name="templateName" matInput value="CGI-34534634">
            </mat-form-field>

            <div style="float: right; width: 50px;">
                <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="voltar"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="voltar()" style="" mat-icon-button>
                        <mat-icon>undo</mat-icon>
                    </button>
                </i>

            </div>


            <br>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 29%; ;margin-left: 2%;">
                <mat-label>Curso</mat-label>
                <input disabled name="templateName" matInput [(value)]="turmaSelecionada.descricao">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 13%; margin-left: 2%;">
                <mat-label>Turma</mat-label>
                <input disabled name="templateName" matInput [(value)]="turmaSelecionada.identificador">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 2%;">
                <mat-label>Investimento</mat-label>
                <input disabled name="templateName" matInput value="R$ 4.190,00">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 10%; margin-left: 1%;">
                <mat-label>código </mat-label>
                <input disabled selected name="templateName" matInput placeholder="aplicar desconto">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" style="width: 13%; margin-left: 2%;">
                <mat-label>Dia</mat-label>
                <input disabled name="templateName" matInput [(value)]="turmaSelecionada.weekDayOne">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 18%; margin-left: 2%;">
                <mat-label>Horário</mat-label>
                <input disabled name="templateName" matInput [(value)]="horarioTurma">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 2%;">
                <mat-label>Previsão início </mat-label>
                <input selected name="templateName" matInput disabled [(value)]="previAtual"
                    placeholder="aplicar desconto">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 1%;">
                <mat-label>Previsão término </mat-label>
                <input selected name="templateName" matInput disabled [(value)]="previTerminoAtual"
                    placeholder="aplicar desconto">
            </mat-form-field>




            <mat-form-field appearance="fill" style="width: 38%;margin-left: 2%;margin-top: 20px;">
                <mat-label>Como ficou sabendo dos nossos cursos?</mat-label>
                <mat-select formControlName="cienciaCurso" selected name="cargo" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let item of cienciaCurso" [value]="item.type">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <br>

            <br>

            <span style="margin-left: 2%;">Escolha a forma de pagamento:</span>
            <mat-tab-group style="">
                <mat-tab label="Cartão de Crédito"> </mat-tab>
                <mat-tab label="Boleto"> </mat-tab>
                <mat-tab label="Carnê"></mat-tab>
            </mat-tab-group>


            <br>
            <button type="submit" mat-raised-button disabled="false"
                style="bottom: 0; float:right;margin-bottom: 10px;margin-left: 10px;">
                Confirmar matrícula
            </button>

        </form> -->

    <!-- </mat-tab> -->
</mat-tab-group>