<div style="font-size: 1.2em;">Criar matéria
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<!-- <div style="font-size: 0.8em;margin-top: 5px;">* O colaborador será salvo na unidade de {{tokenInfo.Unidade}}</div> -->
<hr>
<div style="position: relative;">

    <form novalidate [formGroup]="docForm" (ngSubmit)="onSubmit(docForm)">


        <mat-form-field appearance="standard" style="width: 30%; ">
            <mat-label>Nome</mat-label>
            <input selected formControlName="nome" matInput placeholder="Ex: RG">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 30%;margin-left: 5%;">
            <mat-label>Type Pacote</mat-label>
            <mat-select formControlName="typePacoteId" placeholder="type pacote">
                <mat-option></mat-option>
                <mat-option *ngFor="let pac of typesPacotes" [value]="pac.id">{{pac.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
            <mat-label>Descrição</mat-label>
            <input selected formControlName="descricao" matInput placeholder="">
        </mat-form-field>

        <br>


        <mat-form-field appearance="standard" style="width: 20%;">
            <mat-label>Modalidade</mat-label>
            <mat-select formControlName="modalidade" placeholder="modalidade">
                <mat-option></mat-option>
                <mat-option *ngFor="let mol of modalidade" [value]="mol.value">{{mol.value}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 15%; margin-left: 5%;">
            <mat-label>Carga horária</mat-label>
            <input selected formControlName="cargaHoraria"
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" matInput
                placeholder="">
        </mat-form-field>

        <br>

        <ng-container>
            <button type="submit" mat-raised-button disabled="true" color="primary"
                style="float:right;margin-bottom: 0px;margin-left: 10px;" [disabled]="!docForm.valid || progress">


                <mat-spinner *ngIf="progress" style="margin-left: 8px;margin-top: 5px; position: absolute;"
                    [diameter]="26"></mat-spinner>Salvar
            </button>
        </ng-container>



    </form>
</div>