<div style='position: relative;'>

    <div class='imagediv'>
        <img class='image' src='../../../assets/img/logo4a.png'
        height='110'>

    </div>


    <div style='text-align: center;font-size: 1.3em;margin-bottom: 15px;color: rgb(6, 6, 177);'>SISTEMA DE
        ENSINO<br>INVICTUS</div>

    <div style='text-align: center;font-size: 1.3em;margin-bottom: 15px;color: rgb(6, 6, 177);'>FICHA DE
        MATRÍCULA<br>Ano 2021</div>




    <div class='titulo'>CURSO:</div>
    <div style='padding: 10px; font-size: 1em;color: rgb(6, 6, 177);border: 1px solid blue'>TÉCNICO EM ENFERMAGEM</div>

    <div class='titulo'>DATA DE INÍCIO:</div>
    <div style='padding: 10px; font-size: 1em;color: rgb(6, 6, 177);border: 1px solid blue'>10/01/2021</div>

    
    <div class='titulo'>DADOS PESSOAIS:</div>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>
       
        <div class='subtitulo'>Nome Completo:
            <span class='inputs'>THAIS FERREIRA NISHIO</span>
        </div>
       
        <div class='subtitulo'>Data de Nascimento:
            <span class='inputs'>30/01/2004</span>
            Local de Nascimento:
            <span class='inputs'>RIO DE
                JANEIRO</span>
        </div>

       
        <div class='subtitulo'>
            Etnia: 
            <span class='inputs'>Pardo</span>
            RG: 
            <span class='inputs'>313397572</span>
            Órgão Emissor: 
            <span class='inputs'>DETRAN</span>
        </div>
        
        <div class='subtitulo'>
            Data de Expedição: 
            <span class='inputs'>01/01/2000</span>
            CPF: 
            <span class='inputs'>095.521.287-14</span>
        </div>

        
        <div class='subtitulo'>
            Endereço:
            <span class='inputs'>01/01/2000</span>
        </div>
        
        <div class='subtitulo'>
            Telefones de Contato: Fixo: 
            <span class='inputs'>(21) 2493-5251</span>,
            Cel: 
            <span class='inputs'>(21) 98733-3442</span>
            Órgão Emissor: 
            <span class='inputs'>DETRAN</span>
        </div>
        
        <div class='subtitulo'>
            E-mail:
            <span class='inputs'>teste@gmail.com</span>
        </div>

        
        <div class='subtitulo'>
            Filiação: 
            <span class='inputs'>Pai fulano</span>
            e 
            <span class='inputs'>Mãe Ciclana</span>
        </div>

    </div>

    

    <div class='titulo'>ENSINO MÉDIO:</div>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>
       
        <div class='subtitulo'>
            Público:
            <span >(&nbsp;&nbsp;&nbsp;&nbsp;)</span>
            Privada: 
            <span class='inputs'>(&nbsp;&nbsp;&nbsp;&nbsp;)</span>
            Escola: 
            <span class='inputs'>Escola Vicente Januzi</span>
        </div>
       
        <div class='subtitulo'>
            Local: 
            <span class='inputs'>30/01/2004</span>
            Data de Conclusão do Ensino Médio: 
            <span class='inputs'>RIO DE JANEIRO</span>
        </div>

    </div>


    <div class='titulo'>DOCUMENTOS APRESENTADOS NO ATO DA MATRÍCULA:</div>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>

        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox RG</div>
        <div class='doc'>(&nbsp;X&nbsp;) Xerox CPF</div>
        <div class='doc'>( ) Xerox Comprovante de residência</div>
        <div class='doc'>( ) Xerox Certidão de Nascimento ou Casamento</div>
        <div class='doc'>( ) Foto 3x4</div>
        <div class='doc'>( ) Xerox Título de Eleitor</div>
        <div class='doc'>( ) Xerox do Histórico Escolar do Ensino Médio</div>
        <div class='doc'>( ) Certificado Autentivado</div>
        <div class='doc'>( ) Cópia do Diário Oficial</div>
        <div class='doc'>( ) Certificado de Reservista</div>
        <div class='doc'>( ) Xerox do COREN</div>
        <br>
        <br>

        <div style='text-align: center;'>______________________________________<br>
            <span style='font-weight: bold;' >ASSINATURA DO ALUNO (A)</span></div>

    </div>

    
    <br>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>
       
        <div class='subtitulo'>
            RESPONSÁVEL PELA MATRÍCULA:
            <span class='inputs'>Fulano</span>

        </div>

    </div>

</div> 





<!-- ONLY LINESSSS-->




<!-- <div style='position: relative;'>

    <div class='imagediv'>
        <img class='image' src='../../../assets/img/logo4a.png'
        height='110'>

    </div>


    <div style='text-align: center;font-size: 1.3em;margin-bottom: 15px;color: rgb(6, 6, 177);'>SISTEMA DE
        ENSINO<br>INVICTUS</div>

    <div style='text-align: center;font-size: 1.3em;margin-bottom: 15px;color: rgb(6, 6, 177);'>FICHA DE
        MATRÍCULA<br>Ano 2021</div>




    <div class='titulo'>CURSO:</div>
    <div style='padding: 10px; font-size: 1em;color: rgb(6, 6, 177);border: 1px solid blue'>TÉCNICO EM ENFERMAGEM</div>

    <div class='titulo'>DATA DE INÍCIO:</div>
    <div style='padding: 10px; font-size: 1em;color: rgb(6, 6, 177);border: 1px solid blue'>10/01/2021</div>

    
    <div class='titulo'>DADOS PESSOAIS:</div>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>
       
        <div class='subtitulo'>Nome Completo:
            <span class='clean'>___________________________________________________________________</span>
        </div>
       
        <div class='subtitulo' >Data de Nascimento:
            <span class='clean'>_____________</span>
            Local de Nascimento:
            <span class='clean'>_____________________</span>
        </div>

       
        <div class='subtitulo'>
            Etnia: 
            <span class='clean'>________</span>
            RG: 
            <span class='clean'>________________</span>
            Órgão Emissor: 
            <span class='clean'>________________</span>
        </div>
        
        <div class='subtitulo'>
            Data de Expedição: 
            <span class='clean'>______________</span>
            CPF: 
            <span class='clean'>____________________</span>
        </div>

        
        <div class='subtitulo'>
            Endereço:
            <span class='clean'>________________</span>
        </div>
        
        <div class='subtitulo'>
            Telefones de Contato: Fixo: 
            <span class='clean'>____________________</span>,
            Cel: 
            <span class='clean'>_____________________</span>           
        </div>
        
        <div class='subtitulo'>
            E-mail:
            <span class='clean'>__________________________________</span>
        </div>

        
        <div class='subtitulo'>
            Filiação: 
            <span class='clean'>__________________________________________</span>
            e 
            <span class='clean'>__________________________________________</span>
        </div>

    </div>

    

    <div class='titulo'>ENSINO MÉDIO:</div>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>
       
        <div class='subtitulo'>
            Público:
            <span class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp;)</span>
            Privada: 
            <span class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp;)</span>
            Escola: 
            <span class='clean'>______________________________________________________</span>
        </div>
       
        <div class='subtitulo'>
            Local: 
            <span class='clean'>_______________________________________</span>
            Data de Conclusão do Ensino Médio: 
            <span class='clean'>_______________________</span>
        </div>

    </div>


    <div class='titulo'>DOCUMENTOS APRESENTADOS NO ATO DA MATRÍCULA:</div>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>

        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox RG</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox CPF</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox Comprovante de residência</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox Certidão de Nascimento ou Casamento</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Foto 3x4</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox Título de Eleitor</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox do Histórico Escolar do Ensino Médio</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Certificado Autentivado</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Cópia do Diário Oficial</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Certificado de Reservista</div>
        <div class='doc'>(&nbsp;&nbsp;&nbsp;&nbsp; ) Xerox do COREN</div>
        <br>
        <br>

        <div style='text-align: center;'>______________________________________<br>
            <span style='font-weight: bold;' >ASSINATURA DO ALUNO (A)</span></div>

    </div>

    
    <br>

    <div style='padding: 10px;color: rgb(6, 6, 177);border: 1px solid blue'>
       
        <div class='subtitulo'>
            RESPONSÁVEL PELA MATRÍCULA:
            <span class='clean'>__________________________________________</span>

        </div>

    </div>

</div> -->