<div style="font-size: 1.2em;">Cadastrar Lead
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<div style="font-size: 0.9em;margin-top: 5px;">(TODO? checar todos os dados para ver se ja n existe aluno com algum dos dados</div>
<hr>
<div style="position: relative;">


    <form novalidate [formGroup]="colaboradorForm" style=""
        (ngSubmit)="onSubmit(colaboradorForm)">


        <mat-form-field appearance="standard" style="width: 45%;">
            <mat-label>Nome</mat-label>
            <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
        </mat-form-field>


        <mat-form-field appearance="standard" style="width: 45%; margin-left: 10%;">
            <mat-label>Email</mat-label>
            <input selected formControlName="email" name="email" matInput
                placeholder="Email">
            <mat-hint @rowHighlight *ngIf="validadeEmailMsg" style="color: red;">
                O email informado já existe
            </mat-hint>
        </mat-form-field>

        <br>

        <mat-form-field appearance="standard" style="width: 45%;">
            <mat-label>Bairro</mat-label>
            <input selected formControlName="bairro" name="templateName" matInput placeholder="digite o bairro">
        </mat-form-field>

        <mat-form-field style="width: 45%; margin-left: 10%;" appearance="standard">
            <mat-label>Telefone</mat-label>
            <input  name="celular" formControlName="telefone" mask="(00) 00000-0000" matInput
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
        </mat-form-field>

        <br>

        <mat-form-field appearance="standard" style="width: 40%;">
            <mat-label>Curso Pretendido</mat-label>
            <mat-select formControlName="cursoPretendido" selected name="cargoId" required>
                <mat-option value=""></mat-option>
                <mat-option>Enfermagem
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 40%;margin-left: 10%;">
            <mat-label>Unidade</mat-label>
            <mat-select formControlName="unidade" selected name="cargoId" required>
                <mat-option value=""></mat-option>
                <mat-option>CGI</mat-option>
                <mat-option>SJM</mat-option>
            </mat-select>
        </mat-form-field>

<br>


        <div *ngIf="showMensagem" class="alert alert-danger" role="alert"
            style="text-align: center; vertical-align: middle; position:relative; height: 45px; float:left;margin-bottom: 20px;">
            {{mensagem}}
        </div>




        <div style="float: right;margin-top: 15px;">
            <button color="primary" type="submit" mat-raised-button 
            style="position: relative; float:right;
    margin-left: 10px;">
                <!-- <mat-spinner  [diameter]="33" style="margin-left: 18px;
            
    margin-top: 2px; position: absolute;">
                </mat-spinner> -->
                Salvar
            </button>
        </div>


    </form>
    <!-- <ng-template #showSpinner>

        <mat-spinner @rowHighlight [diameter]="100" style="margin-left: 42.5%;
margin-top: 10%; 
position: absolute;">
        </mat-spinner>
    </ng-template> -->


</div>