<div class="container" style="width: 95%; padding-top: 20px;">

    <div>
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="cadastrar produto" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button mat-icon-button (click)="openCreateProdutoModal()">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </i>
    </div>

    <br>

    <form class="form-inline siteForm" style="margin-top: 5px;display: inline-block">

        <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">Digite um dos campos para pesquisar pelo Produto:
        </span>

        <div class="form-row align-items-center divSiteForm">

            <mat-form-field appearance="standard" style="transform: scale(0.85);">
                <mat-label>Nome</mat-label>
                <input #nome selected name="templateName" matInput placeholder="digite o nome">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="margin-left: 2px;transform: scale(0.85);">
                <mat-label>E-mail</mat-label>
                <input #email selected name="templateName" matInput placeholder="digite o E-mail">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="margin-left: 2px;transform: scale(0.85);">
                <mat-label>CPF</mat-label>
                <input #cpf selected name="templateName" matInput placeholder="digite o CPF">
            </mat-form-field>

            <span>
                <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button style="" (click)="pesquisar(nome.value, email.value,cpf.value)" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span>

        </div>

    </form>

    <div *ngIf="produtos.length > 0" class="card card-plain mat-elevation-z8" style="width: 100%;
            margin-top: 50px;
            box-shadow: 0 0 1em rgb(172, 170, 170);
            background-color: rgb(227, 240, 227);">
        <div class="card-header">
            <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
                Produtos</h4>
            <p class="card-category">Produtos cadastrados no sistema</p>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="height: 430px;position: relative;">
                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <!--<table class="table-hover" mat-table [dataSource]="genericTasks">-->
                    <thead>
                        <tr>
                            <th style="width: 3%; border-top: 0px;"></th>

                            <th style="width: 24%;font-size:1.2em;
                                    vertical-align: middle;
                                    text-align:left;
                                    border-top: 0px; font-weight: 400;">Descrição</th>

                            <th style="width: 13%;font-size:1.2em;
                                    vertical-align: middle;
                                    text-align:center; font-weight: 400;
                                    border-top: 0px;">Preço</th>

                            <th style="width: 6%;font-size:1.2em;
                                    vertical-align: middle;
                                    text-align:center; font-weight: 400;
                                    border-top: 0px;">med.</th>

                            <th style="width: 11%;font-size:1.2em;
                                    vertical-align: middle;
                                    text-align:center;
                                    border-top: 0px; font-weight: 400;">Qnt.<br>atual</th>

                            <th style="width: 8%;font-size:1.2em;
                                    text-align:center; 
                                    vertical-align: middle;
                                    border-top: 0px; font-weight: 400;">mínimo<br>(qnt.)</th>

                            <th style="width: 29%;font-size:1.2em;
                                    text-align:center; 
                                    vertical-align: middle;
                                    border-top: 0px; font-weight: 400;">Status</th>

                            <th style="width: 6%;border-top: 0px;">
                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="criar usuário"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>plus_one</mat-icon>
                                    </button>
                                </i> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of produtos; let i = index;">
                            <td style="text-align:center;vertical-align: middle;">{{i+1}}</td>

                            <td style="text-align:left;vertical-align: middle;">
                                {{product.codigoProduto}} - {{product.nome}}
                            </td>

                            
                            <td style="text-align: center;vertical-align: middle;">
                                {{product.preco | currency:'BRL':true}}
                            </td>

                            <td style="text-align: center;vertical-align: middle;">Un.</td>

                            <td style="text-align: center;vertical-align: middle;">
                                <div *ngIf="product.quantidade < product.nivelMinimo;else arrowUp">
                                    <i style="text-align: center;vertical-align: middle; margin: 0px;"
                                        #tooltip="matTooltip" matTooltip="ativo" matTooltipPosition="above"
                                        matTooltipHideDelay="100">
                                        <span
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;color:red;"
                                            mat-icon-button>
                                            <mat-icon>arrow_downward</mat-icon>
                                        </span>
                                    </i>
                                    {{product.quantidade}}
                                </div>
                                <ng-template #arrowUp>
                                    <i style="text-align: center;vertical-align: middle; margin: 0px;"
                                    #tooltip="matTooltip" matTooltip="ativo" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <span
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;color:green;"
                                        mat-icon-button>
                                        <mat-icon>arrow_upward</mat-icon>
                                    </span>
                                </i>

                                {{product.quantidade}}
                                </ng-template>
                            </td>

                            <td style="text-align: center;vertical-align: middle;">
                                {{product.nivelMinimo}}
                            </td>

                            <td style="text-align: center;vertical-align: middle;">

                                <div *ngIf="product.quantidade < product.nivelMinimo;else okMsg">
                                    Necessidade de reposição
                                </div>
                                <ng-template #okMsg>OK</ng-template>
                                
                                
                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="ativo"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;color: green;"
                                        mat-icon-button>
                                        <mat-icon>done</mat-icon>
                                    </button>
                                </i> -->
                            </td>

                            <td style="position: relative;">

                                <!-- <i type="submit" #tooltip="matTooltip" matTooltip="deletar tarefa" matTooltipPosition="above"
                        matTooltipHideDelay="100" (click)="Delete(item.id)"
                        class="material-icons md-dark">
                        delete_outline
                      </i> -->

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="openEditProdutoModal(product)" style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>build</mat-icon>
                                    </button>
                                </i>


                            </td>

                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>

</div>