<!-- <div class="row justify-content-center">
        <div class="col"> -->

<div class="card-header">
    <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
        LEADS</h4>
    <p class="card-category"> </p>
</div>
<div class="card-body">

    <!-- <div class="container" style="width: 80%;margin-top: 30px; border: 1px solid red"> -->

    <!-- <div class="row">
                    <div style="border: 1px solid red" class="col col1">exportar lead</div>
                    <div style="border: 1px solid red" class="col">colu</div>
                </div> -->
    <!-- </div> -->
    <div class="row" style="margin-bottom:15px;">
        <div class="">
            <input multiple type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                style="display:none;">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="file.click()">Exportar
                Lead</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>
        <div class="">
            <span class="upload" *ngIf="progress > 0">
                {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
                {{message}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="exportExcel()">modelo</button>
        </div>
    </div>

    <button style="margin-left:30px;margin-top: 10px;" mat-raised-button
        [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button>