<div style="font-size: 1.2em;">Materias habilitadas
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<div style="font-size: 0.9em;margin-top: 5px;">* Materias habilitadas para o professor lecionar</div>
<div style="font-size: 0.9em;margin-top: 5px;color:red">OBS: Desabilitações apenas ocorrerão para futuras marcações</div>
<hr>
<div style="position: relative;">

    <mat-tab-group>
        <mat-tab label="Matérias">  

            <div class="table-responsive" style="height: 430px;position: relative;">
                <table color="primary" style="margin-bottom: 0px;" class="table">
                   
                    <thead>
                        <tr>
                            <th style="width: 2%; 
                        text-align:left; 
                        vertical-align: middle;
                        border-top: 0px;"></th>
        
        
                            <th style="width: 40%;font-size:1em;
                        vertical-align: middle; 
                        text-align:left;
                         border-top: 0px; font-weight: 400;">Materia</th>
        
                            <th style="width: 29%;font-size:1em;
                        vertical-align: middle;
                        text-align:center;
                        border-top: 0px; font-weight: 400;">Curso</th>
        
                            <th style="width: 29%;font-size:1em;
                        text-align:center; 
                        vertical-align: middle;
                        border-top: 0px; font-weight: 400;">Desabilitar</th>
        
                         
                        </tr>
                    </thead>
                    <tbody>
        
                        <tr >
                            <td style="font-size:0.9em;text-align:center;vertical-align: middle;"></td>
        
                            <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                               Ética
                            </td>
        
                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                APH/ENFERMAGEM
                            </td>
        
                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                <mat-checkbox style="margin-right: 5px;" type="checkbox"
                                value="true" color="primary" class="example-margin" name="checked">
                              </mat-checkbox>
                            </td>
        
                           
                        </tr>
                    </tbody>
                </table>
            </div>

        </mat-tab>
       <mat-tab label="Disponibilidades"> Content 2 </mat-tab>
         <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
      </mat-tab-group>


    

</div>