<div class="container" style="width: 95%; padding-top: 20px;">

    <span>
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="criar cargo" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openCreateCargoModal()" mat-icon-button>
                <mat-icon>engineering</mat-icon>
            </button>
        </i>
    </span>

    <span>
        <i style="margin-left: 0px;" #tooltip="matTooltip" matTooltip="criar documento" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openCreateDocModal()" mat-icon-button>
                <mat-icon>assignment_ind</mat-icon>
            </button>
        </i>
    </span>

    <span>
        <i style="margin-left: 0px;" #tooltip="matTooltip" matTooltip="criar materia" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openCreateMateriaModal()" mat-icon-button>
                <mat-icon>school</mat-icon>
            </button>
        </i>
    </span>

    <br>
    <br>

    <span color="primary" style="display: block; margin-left: 10px;font-size: 0.9em;font-style: italic;">
        pesquisar:
    </span>

    <mat-form-field appearance="standard" style="transform: scale(0.85);width: 150px;">
        <mat-label></mat-label>
        <mat-select disabled placeholder="">
            <mat-option ></mat-option>
            <mat-option (click)="getCargos()" value="Cargos" >Cargos</mat-option>
            <mat-option (click)="getMaterias()" value="Cargos" >Cargos</mat-option>
            <mat-option (click)="getDocumentacao()" value="Cargos" >Matérias</mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    <!-- <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/74abb58e-0310-4aa0-bdca-3fffc0b36df3/page/Jh3aC" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    

    <div @rowHighlight *ngIf="cargos.length > 0 && showTableCargos" class="card card-plain mat-elevation-z8" 
        style="width: 100%;
        position: relative;
        margin-top: 50px;
        box-shadow: 0 0 1em rgb(172, 170, 170);
        background-color: rgb(227, 240, 227);">

    <div class="card-header">
        <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
            Cargos</h4>
        <p class="card-category"> Cargos cadastrados no sistema: </p>
    </div>

    <div class="card-body">
        <div class="table-responsive" style="height: 430px;position: relative;">

            <table color="primary" style="margin-bottom: 0px;" class="table">
                <thead>
                    <tr>
                        <th style="width: 2%; 
                text-align:left; 
                vertical-align: middle;
                border-top: 0px;"></th>

                        <th style="width: 40%;font-size:1.2em;
                                vertical-align: middle;
                                text-align:left;
                border-top: 0px; font-weight: 400;">Nome</th>

                        <th style="width: 20%;font-size:1.2em;
                        vertical-align: middle;
                        text-align:center;
                        border-top: 0px; font-weight: 400;">Email</th>

                        <th style="width: 20%;font-size:1.2em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Acesso ao<br>sistema</th>

                        <th style="width: 6%;font-size:1.2em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Ativo</th>

                        <th style="width: 6%;
                border-top: 0px;"></th>

                        <th style="width: 6%;
                border-top: 0px;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cargos;let i = index;" @rowHighlight>
                        <td style="text-align:center;vertical-align: middle;">
                            {{i + 1}}
                        </td>

                        <td style="text-align:left;vertical-align: middle;">{{item.nome}}</td>

                        <td style="text-align: center;vertical-align: middle;">
                        {{item.ativo}}
                     <!-- <div *ngIf="item.ativo == true;else inativo">

                                <mat-icon style="margin: 0px; margin: 0px;
                                    background-color: rgb(227, 240, 227);;color: green;" style="color: green;">
                                    done_outline</mat-icon>
                                

                            </div>
                            <ng-template #inativo>

                                <mat-icon style="background-color: rgb(227, 240, 227);
                                        margin: 0px; margin: 0px;color: red; ">close</mat-icon>


                            </ng-template> -->

                    </td>

                        <td style="text-align: center;vertical-align: middle;">{{item.dataCriacao | date:'dd/MM/yyyy' }}</td>

                        <td style="text-align: center;vertical-align: middle;">
                           
                        </td>

                        <td style="position: relative;">

                            <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                <button [disabled]="showSpinner" (click)="openEditUserModal(item)"
                                    style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                    mat-icon-button>
                                    <mat-icon>settings</mat-icon>
                                </button>
                            </i> -->

                        </td>
                        <td style="position: relative;">

                            <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="deletar"
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button [disabled]="showSpinner" (click)="deleteColaborador(item.id)"
                                    style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                    mat-icon-button>
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                            </i> -->

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <!-- <mat-paginator *ngIf="length > 5" style="
            background-color: rgb(227, 240, 227);
            bottom: 0px;
            right: 0px;" [length]="length" [pageSize]="5" hidePageSize="true" (page)="pageEvent = $event"
            (click)="changePage(pageEvent)">
        </mat-paginator> -->

    </div>

    <!-- <mat-spinner @rowHighlight *ngIf="showSpinner" [diameter]="100" style="margin-left: 46.5%;
        top: 46.5%; 
        position: absolute;">
    </mat-spinner> -->
</div>



</div>