.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }



  .img-wrap{
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0;
    right: 0;
    background: url(../../../../assets/img/belchior-fotografia-3x4-700x390.jpg) no-repeat center center fixed; 
    //background-size:cover; //width:auto;
   // background-image:url(../../assets/img/invictus1080.jpg); //no-repeat center center fixed;
    background-position: right bottom 20px;
  }