<div style="font-size: 1.2em;">Cadastro/Matrícula

    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button (click)="fechar()" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>
<hr>

<!-- 
só aparece seach (email ou telefone?) buscar na Lead
abre trazendo uma lista da busca ou não o resultado
se o aluno não estiver na lsita avisa ou entao o usuário informa que não
é nenhum aluno abaixo

maior | sem res financeiro | necessariamente sem resp
maior | com res financeiro | necessariamente sem resp
menor | sem res financeiro | necessariamente COM resp
menor | com res financeiro | necessariamente COM resp


no searhc informar primeiro se é ex aluno ou nao, e trazer cadastro dele
-->


<div *ngIf="showSerch">
    Digite um ou mais campos para verificação do cadastro:<br>
    <!-- <mat-form-field appearance="standard" style="width: 40%;">
        <mat-label>nome</mat-label>
        <input #nome selected required name="nome" matInput placeholder="nome">
    </mat-form-field> -->

    <!-- <mat-form-field appearance="standard" style="width: 25%; margin-left: 5%; ">
        <mat-label>Email</mat-label>
        <input #email selected required name="email" matInput placeholder="email">
    </mat-form-field> -->
    <form novalidate [formGroup]="cpfForm" (ngSubmit)="consulta(cpfForm)">
        <mat-form-field appearance="standard" style="width: 25%;">
            <mat-label>CPF</mat-label>
            <input formControlName="cpf" required name="cpf" mask="000.000.000-00"
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" required matInput
                placeholder="cpf">
        </mat-form-field>

        <button type="submit" style="margin: 0px; margin: 0px;" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </form>
    <div @rowHighlight class="card-header " style="background-color: rgb(227, 240, 227);margin-left: 0px;
       width: 350px; font-size: 0.9em;box-shadow: 0 0 0.5em rgb(172, 170, 170);" unselectable="on"
        onselectstart="return false;" *ngIf="showMensagem">{{mensagem}}</div>


    <!-- <input type="text" (focusout)="onFocusOutEvent($event)" /> -->
</div>


<!-- <div *ngIf="showAlunoResponseList">
    Registros localizados no cadastro: <br>
    <mat-selection-list #shoes [multiple]="false">
        <mat-list-option (click)="selecionarAluno(aluno)" *ngFor="let aluno of alunoResponse; let i = index;"
            [value]="aluno">
            {{i+1}} - Nome: {{aluno.nome}}, Email: {{aluno.email}}
        </mat-list-option>
    </mat-selection-list>
</div> -->

<!-- <div *ngIf="showAlunoResponseList">
    <table color="primary" style="margin-bottom: 0px;" class="table">
        <thead>
            <tr>
                <th style="width: 2%;height: 20px;;  
    text-align:left; 
    vertical-align: middle;
    border-top: 0px;"></th>

                <th style="width: 32%;font-size:1em;
                    vertical-align: middle;
                    text-align:left;
    border-top: 0px; font-weight: 400;">Nome</th>

                <th style="width: 19%;font-size:1em;
            vertical-align: middle;
            text-align:center;
            border-top: 0px; font-weight: 400;">Email</th>

                <th style="width: 15%;font-size:1em;
    text-align:center; 
    vertical-align: middle;
    border-top: 0px; font-weight: 400;">Situação</th>                

                <th style="width: 6%;
    border-top: 0px;"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of alunoResponse;let i = index;">
                <td style="text-align:center;vertical-align: middle;">
                    <i style="" #tooltip="matTooltip" matTooltip="selecionar" matTooltipPosition="above"
                        matTooltipHideDelay="100">
                        <button (click)="selecionarAluno(item)" style="" mat-icon-button>
                            <mat-icon style="color: green;">arrow_right_alt</mat-icon>
                        </button>
                    </i>
                </td>

                <td style="text-align:left;vertical-align: middle;">{{item.nome}}</td>

                <td style="text-align: center;vertical-align: middle;">{{item.email}}</td>

                <td style="text-align: center;vertical-align: middle;">LEAD                    

                </td>

                <td style="position: relative;text-align: center;vertical-align: middle;">

                </td>
            </tr>
    </table>
</div> -->

<!--                  STEPPERS TABS                           -->


<mat-tab-group *ngIf="showFormCadastro" [selectedIndex]="indexTab" mat-align-tabs="start">



    <!--                  CADASTRO            -->


    <mat-tab *ngIf="showFormCadastroTab" [label]="tabs[0]">

        <form novalidate [formGroup]="colaboradorForm" (ngSubmit)="onSubmit(colaboradorForm)">

            <div style="position: relative;">

                <div style="position: absolute;  display:flex;padding: 0px; margin-left: 88%; display: inline-block;
                overflow: hidden;margin-top: 5px; width: 100px; height: 133px; border: 1px solid black; ">

                    <img src="" style="display: block;
                margin-left: auto;
                margin-right: auto;width:50%
                ">

                </div>

                <mat-form-field appearance="standard" style="width: 35%; ">
                    <mat-label>Nome completo</mat-label>
                    <input selected formControlName="nome" required name="nome" matInput placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 14%; margin-left: 2%;">
                    <mat-label>CPF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" disabled

                        [(value)]="atualCPF" minlength="11" maxlength="11" selected name="cpf" matInput
                        placeholder="digite o CPF">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 12%; margin-left: 2%;">
                    <mat-label>RG</mat-label>
                    <input formControlName="rg"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected
                        name="rg"  matInput placeholder="digite o RG">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                    <mat-label>Nascimento</mat-label>
                    <date-input formControlName="nascimento" (focusout)="onFocusOutDateEvent($event)" name="nascimento"
                        matInput required></date-input>
                </mat-form-field>

                <br>
                <mat-form-field appearance="standard" style="width: 35%; ">
                    <mat-label>Nome Social</mat-label>
                    <input selected formControlName="nomeSocial" name="nome" matInput placeholder="Nome">
                </mat-form-field>
                <br>

                <!-- <div (click)="testeinvalid()">teste</div> -->

                <mat-form-field appearance="standard" style="width: 20%; ">
                    <mat-label>Naturalidade</mat-label>
                    <input selected formControlName="naturalidade" required name="naturalidade" matInput
                        placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                    <mat-label>UF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null"
                        minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required
                        name="naturalidadeUF" matInput placeholder="UF">
                </mat-form-field>

                <span style="padding: 5px; margin-left: 5%">

                    <span *ngIf="showPerguntaRespFinanc" style="margin-left: 1%;">
                        <label class="example-margin">É também o responsável financeiro:</label>
                        <mat-radio-group>
                            <mat-radio-button [checked]="checkedRespFinanc.sim" color="primary" class="example-margin"
                                (click)="eHRespFinan(true)" value="Sim">Sim</mat-radio-button>
                            <mat-radio-button [checked]="checkedRespFinanc.nao" color="primary" class="example-margin"
                                (click)="eHRespFinan(false)" value="Não">Não</mat-radio-button>
                        </mat-radio-group>
                    </span>

                </span>

                <br>
                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Email</mat-label>
                    <input (focusout)="buscarEmail($event)" selected formControlName="email" name="email" matInput
                        placeholder="Email">
                    <mat-hint @rowHighlight *ngIf="validadeEmailMsg" style="color: red;">
                        O email informado já existe
                    </mat-hint>
                </mat-form-field>

                <!-- <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Celular</mat-label>
                    <example-tel-input #cel name="telCelular" formControlName="telCelular"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input> -->
                <!-- <mat-icon matSuffix>phone</mat-icon> -->
                <!-- <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field> -->

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Celular</mat-label>
                    <input #cel name="telCelular" formControlName="telCelular" mask="(00) 00000-0000" matInput
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    <!-- <mat-icon matSuffix>phone</mat-icon> -->
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <!-- <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>WhatsApp</mat-label>
                    <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field> -->

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>WhatsApp</mat-label>
                    <input name="telWhatsapp" formControlName="telWhatsapp" mask="(00) 00000-0000" matInput
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </mat-form-field>

                <!-- <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Residencial</mat-label>
                    <example-tel-input name="telResidencial" formControlName="telResidencial"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field> -->

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Residencial</mat-label>
                    <input name="telResidencial" formControlName="telResidencial" mask="(00) 00000-0000" matInput
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <br>
                <mat-form-field appearance="standard" style="width: 17%;">
                    <mat-label>Tel referência</mat-label>
                    <example-tel-input formControlName="telReferencia" #cel name="telReferencia"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <!-- <mat-icon matSuffix>phone</mat-icon> -->
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 35%;margin-left: 5%; ">
                    <mat-label>Nome do contato</mat-label>
                    <input formControlName="nomeContatoReferencia" selected required name="nomeContatoReferencia"
                        matInput placeholder="Nome">
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 10%;">
                    <mat-label>CEP</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" #cep
                        formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                        placeholder="12345678">
                </mat-form-field>
                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <span type="button" (click)="consultaCEP(cep.value)" style="margin: 0px; margin: 0px;"
                        mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </span>
                </i>

                <ng-container *ngIf="showEndercoField">
                    <mat-form-field appearance="standard" style="width: 30%;margin-left: 5%;">
                        <mat-label>Logradouro</mat-label>
                        <input selected [(value)]="cepReturn.logradouro" required name="templateName" matInput
                            placeholder="ex: rua tal...">
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: 45%; margin-left: 5%;">
                        <mat-label>Complemento</mat-label>
                        <input selected formControlName="complemento" name="templateName" matInput
                            placeholder="ex: nº 123... sala 10... apto 123...">
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="standard" style="width: 30%;">
                        <mat-label>Cidade</mat-label>
                        <input disabled selected [(value)]="cepReturn.localidade" required name="templateName" matInput
                            placeholder="digite o bairro">
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: 10%; margin-left: 5%;">
                        <mat-label>UF</mat-label>
                        <input disabled selected [(value)]="cepReturn.uf" required name="templateName" matInput
                            placeholder="digite o bairro">
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
                        <mat-label>Bairro</mat-label>
                        <input selected [(value)]="cepReturn.bairro" required name="templateName" matInput
                            placeholder="digite o bairro">
                    </mat-form-field>
                </ng-container>
                <br>


                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Observações gerais</mat-label>
                    <textarea formControlName="observacoes" name="observacoes" matInput></textarea>
                </mat-form-field>



            </div>
            <button type="submit" mat-raised-button disabled="false"
                style="float:right;margin-bottom: 10px;margin-left: 10px;">
                Salvar
            </button>
            <button style="float:right;margin-bottom: 10px;" mat-raised-button
                [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button>
        </form>

    </mat-tab>



    <!--                  RESP FINANCEIRO          -->



    <mat-tab *ngIf="showFormRespFinanc" [label]="tabs[1]">

        <form novalidate [formGroup]="responsavelFinancForm">


            <mat-form-field appearance="standard" style="width: 35%; ">
                <mat-label>Nome completo</mat-label>
                <input selected formControlName="nome" required name="nome" matInput placeholder="Nome">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                <mat-label>CPF</mat-label>
                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                mask="000.000.000-00"
                    formControlName="cpf" minlength="11" maxlength="14" selected name="cpf" matInput
                    placeholder="digite o CPF">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                <mat-label>RG</mat-label>
                <input formControlName="rg"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected name="rg"
                    matInput placeholder="digite o RG">
            </mat-form-field>



            <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                <mat-label>Nascimento</mat-label>
                <date-input formControlName="nascimento" name="nascimento" matInput required></date-input>
            </mat-form-field>

            <br>

            <mat-form-field appearance="standard" style="width: 20%;">
                <mat-label>Grau de parentesco</mat-label>
                <input formControlName="parentesco" required name="naturalidadeUF" matInput
                    placeholder="Grau de parentesco">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 20%; margin-left: 2%;">
                <mat-label>Naturalidade</mat-label>
                <input selected formControlName="naturalidade" required name="naturalidade" matInput placeholder="Nome">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                <mat-label>UF</mat-label>
                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null"
                    minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required name="naturalidadeUF"
                    matInput placeholder="UF">
            </mat-form-field>

            <br>
            <mat-form-field appearance="standard" style="width: 25%;">
                <mat-label>Email</mat-label>
                <input selected formControlName="email" name="email" matInput placeholder="Email">
            </mat-form-field>



            <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                <mat-label>Celular</mat-label>
                <example-tel-input #cel name="telCelular" formControlName="telCelular"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </example-tel-input>

                <mat-hint>telefone com DDD</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                <mat-label>WhatsApp</mat-label>
                <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </example-tel-input>
                <mat-hint>telefone com DDD</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                <mat-label>Residencial</mat-label>
                <example-tel-input name="telResidencial" formControlName="telResidencial"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </example-tel-input>
                <mat-hint>telefone com DDD</mat-hint>
            </mat-form-field>
            <br>

            <mat-form-field appearance="standard" style="width: 10%;">
                <mat-label>CEP</mat-label>
                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" #cep
                    formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                    placeholder="apenas números">
            </mat-form-field>
            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                matTooltipPosition="above" matTooltipHideDelay="100">
                <button (click)="consultaCEPFin(cep.value)" style="margin: 0px; margin: 0px;" mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </i>
            <br>

            <mat-form-field appearance="standard" style="width: 30%;">
                <mat-label>Logradouro</mat-label>
                <input selected [(value)]="cepReturn2.logradouro" name="templateName" matInput
                    placeholder="ex: rua tal...">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 45%; margin-left: 5%;">
                <mat-label>Complemento</mat-label>
                <input selected formControlName="complemento" name="templateName" matInput
                    placeholder="ex: nº 123... sala 10... apto 123...">
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard" style="width: 30%;">
                <mat-label>Cidade</mat-label>
                <input disabled selected [(value)]="cepReturn2.localidade" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 10%; margin-left: 5%;">
                <mat-label>UF</mat-label>
                <input disabled selected [(value)]="cepReturn2.uf" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
                <mat-label>Bairro</mat-label>
                <input selected [(value)]="cepReturn2.bairro" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>
            <br>


            <!-- <div style="font-size: 0.9em;">
                <i style="margin-left: 5px; position: relative;top: 5px;" #tooltip="matTooltip"
                    matTooltip="anexar comp. de residência" matTooltipPosition="above" matTooltipHideDelay="100">

                    <mat-icon style="color: green; margin-left: 0px; font-size: 20px;">done</mat-icon>

                </i>
                comprovante de residência
                <i style="margin-left: 5px; position: relative;top: 5px;" #tooltip="matTooltip"
                    matTooltip="anexar comp. de residência" matTooltipPosition="above" type="button"
                    matTooltipHideDelay="100">

                    <mat-icon style="margin-left: 0px; font-size: 20px;">attach_file</mat-icon>

                </i>
                <span>
                    "arquivotal.pdf"
                </span>
            </div> -->
<!-- 
            <div style="font-size: 0.8em;">
                <i style="margin-left: 5px;position: relative;top: 5px;" #tooltip="matTooltip"
                    matTooltip="anexar comp. de residência" matTooltipPosition="above" matTooltipHideDelay="100">

                    <mat-icon style="color: red; margin-left: 0px; font-size: 20px;">close</mat-icon>

                </i>
                CPF
                <i style="margin-left: 5px;position: relative;top: 5px;" #tooltip="matTooltip" matTooltip="pesquisar"
                    matTooltipPosition="above" type="button" matTooltipHideDelay="100">

                    <mat-icon style="margin-left: 0px; font-size: 20px;">attach_file</mat-icon>

                </i>
                <span>
                    "arquivotal.pdf"
                </span>
            </div> -->

            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Observações gerais</mat-label>
                <textarea formControlName="observacoes" name="observacoes" matInput></textarea>
            </mat-form-field>




        </form>



    </mat-tab>


    <!--                  RESP MENOR          -->


    <mat-tab *ngIf="showTabMenorIdade" [label]="tabs[2]">
        <form novalidate [formGroup]="responsavelMenorForm">
            <br>

            <section style="margin-left: 1%;" class="example-section">
                <label class="example-margin">O responsável do menor também é o responsável financeiro:</label>
                <mat-radio-group>
                    <mat-radio-button color="primary" [checked]="checkedRespMenor.sim" class="example-margin"
                        (click)="eHRespMenorEFinan(true)" value="Sim">Sim</mat-radio-button>
                    <mat-radio-button color="primary" [checked]="checkedRespMenor.nao" class="example-margin"
                        (click)="eHRespMenorEFinan(false)" value="Não">Não</mat-radio-button>
                </mat-radio-group>
            </section>

            <div class="card-body">
                <mat-form-field appearance="standard" style="width: 35%; ">
                    <mat-label>Nome completo</mat-label>
                    <input selected formControlName="nome" required name="nome" matInput placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>CPF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                    mask="000.000.000-00"    
                    formControlName="cpf" minlength="11" maxlength="14" selected name="cpf" matInput
                        placeholder="digite o CPF">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>RG</mat-label>
                    <input formControlName="rg"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected
                        name="rg" matInput placeholder="digite o RG">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                    <mat-label>Nascimento</mat-label>
                    <date-input formControlName="nascimento" name="nascimento" matInput required></date-input>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 20%;">
                    <mat-label>Grau de parentesco</mat-label>
                    <input formControlName="parentesco" required name="naturalidadeUF" matInput
                        placeholder="Grau de parentesco">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 20%;margin-left: 2%; ">
                    <mat-label>Naturalidade</mat-label>
                    <input selected formControlName="naturalidade" required name="naturalidade" matInput
                        placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                    <mat-label>UF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null"
                        minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required
                        name="naturalidadeUF" matInput placeholder="UF">
                </mat-form-field>

                <!-- <span type="button" (click)="uploadDoc('compRes')">juntar doc</span> -->

                <br>
                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Email</mat-label>
                    <input selected formControlName="email" name="email" matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Celular</mat-label>
                    <example-tel-input #cel name="telCelular" formControlName="telCelular"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <!-- <mat-icon matSuffix>phone</mat-icon> -->
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>WhatsApp</mat-label>
                    <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Residencial</mat-label>
                    <example-tel-input name="telResidencial" formControlName="telResidencial"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 10%;">
                    <mat-label>CEP</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" #cep
                        formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                        placeholder="apenas números">
                </mat-form-field>
                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="consultaCEPMen(cep.value)" style="margin: 0px; margin: 0px;" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
                <br>
                <mat-form-field appearance="standard" style="width: 40%;">
                    <mat-label>Logradouro</mat-label>
                    <input selected [(value)]="cepReturn3.logradouro" name="templateName" matInput
                        placeholder="ex: rua tal...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 55%; margin-left: 5%;">
                    <mat-label>Complemento</mat-label>
                    <input selected formControlName="complemento" name="templateName" matInput
                        placeholder="ex: nº 123... sala 10... apto 123...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%;">
                    <mat-label>Cidade</mat-label>
                    <input selected required [(value)]="cepReturn3.localidade" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 10%; margin-left: 15%;">
                    <mat-label>UF</mat-label>
                    <input selected required [(value)]="cepReturn3.uf" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%; margin-left: 15%;">
                    <mat-label>Bairro</mat-label>
                    <input selected [(value)]="cepReturn3.bairro" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>
                <br>


                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Observações gerais</mat-label>
                    <textarea formControlName="observacoes" name="observacoes" matInput></textarea>
                </mat-form-field>

            </div>
            <!-- <button type="submit" mat-raised-button disabled="false"
                style="float:right;margin-bottom: 10px;margin-left: 10px;">
                Salvar
            </button>
            <button style="float:right;margin-bottom: 10px;" mat-raised-button
                [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button> -->

        </form>


    </mat-tab>


    <!--                             TAB MATRICULA CONFIRM             -->



    <mat-tab *ngIf="showMatricula" [label]="tabs[3]">

        <br>

        <div>
            <ng-container *ngIf="hideCursoSearchAndMessage">
                <div *ngIf="showSelectCursoSearch; else message">
                    Selecione o curso disponível nesta unidade:
                    <mat-form-field appearance="standard" style="width: 30%;margin-left: 2%;">
                        <mat-label>Curso</mat-label>
                        <mat-select selected name="cargo" required>
                            <mat-option></mat-option>
                            <mat-option (click)="consultarCursos(item.descricao)" *ngFor="let item of cursosDisponiveis"
                                [value]="item.descricao">
                                {{item.descricao}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ng-template #message>
                    Não há turmas com matrículas abertas nesta unidade!
                </ng-template>
            </ng-container>


            <div *ngIf="showTableCursosAndamento" class="table-responsive" style="height: 430px;position: relative;">
                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <thead>
                        <tr>
                            <th style="width: 2%;height: 20px;
                    text-align:left; border: 1px solid red;
                    vertical-align: middle;
                    border-top: 0px;"></th>

                            <th style="width: 27%;font-size:0.9em;
                                    vertical-align: middle; border: 1px solid red;
                                    text-align:left;
                    border-top: 0px; font-weight: 400;">Descrição</th>

                            <th style="width: 24%;font-size:0.9em;
                            vertical-align: middle; border: 1px solid red;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">Horário</th>

                            <th style="width: 15%;font-size:0.9em;
                    text-align:center;  border: 1px solid red;
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Início</th>

                            <th style="width: 15%;font-size:0.9em;
                    text-align:center;  border: 1px solid red;
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Término</th>

                            <th style="width: 6%;
                    border-top: 0px;"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of turmasParaMatricular;let i = index;">
                            <td style="text-align:center;vertical-align: middle;"></td>

                            <td style="text-align:left;vertical-align: middle;font-size:0.9em;">
                                {{item.descricao}}<br>Turma
                                {{item.identificador}}</td>

                            <td style="text-align: center;vertical-align: middle;font-size:0.9em;">
                                {{item.weekDayOne}} - {{item.initialHourOne}} às {{item.finalHourOne}}<br>
                            </td>

                            <td style="text-align: center;vertical-align: middle;font-size:0.9em;">
                                {{ item.previsaoAtual | date: 'dd/MM/yyyy' }}

                                <br>

                                <span *ngIf="item.iniciada" style="color:red; font-size: 0.8em;">
                                    * turma
                                    iniciada!
                                </span>

                            </td>

                            <td style="text-align: center;vertical-align: middle;font-size:0.9em;">{{
                                item.previsaoTerminoAtual |
                                date: 'dd/MM/yyyy' }}
                            </td>

                            <td style="position: relative;text-align: center;vertical-align: middle;">
                                <i style="" #tooltip="matTooltip" matTooltip="ativo" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <button (click)="selecionarTurma(item)" style="" mat-icon-button>
                                        <mat-icon style="">note_add</mat-icon>
                                    </button>
                                </i>
                            </td>
                        </tr>
                </table>
            </div>

        </div>

        <form *ngIf="showFormFinal" novalidate [formGroup]="matriculaTurmaForm"
            (ngSubmit)="submitMatricula(matriculaTurmaForm)">
            <mat-form-field class="example-full-width" appearance="outline" 
            style="width: 17%;margin-left: 2%;">
                <mat-label>Código do contrato:</mat-label>
                <input disabled name="templateName" matInput value="CGI-34534634">
            </mat-form-field>

            <div style="float: right; width: 50px;">
                <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="voltar"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="voltar()" style="" mat-icon-button>
                        <mat-icon>undo</mat-icon>
                    </button>
                </i>

            </div>


            <br>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 29%; ;margin-left: 2%;">
                <mat-label>Curso</mat-label>
                <input disabled name="templateName" matInput [(value)]="turmaSelecionada.descricao">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 13%; margin-left: 2%;">
                <mat-label>Turma</mat-label>
                <input disabled name="templateName" matInput [(value)]="turmaSelecionada.identificador">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 2%;">
                <mat-label>Investimento</mat-label>
                <input disabled name="templateName" matInput value="R$ 4.190,00">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 10%; margin-left: 1%;">
                <mat-label>código </mat-label>
                <input disabled selected name="templateName" matInput placeholder="aplicar desconto">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" style="width: 13%; margin-left: 2%;">
                <mat-label>Dia</mat-label>
                <input disabled name="templateName" matInput [(value)]="turmaSelecionada.weekDayOne">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 18%; margin-left: 2%;">
                <mat-label>Horário</mat-label>
                <input disabled name="templateName" matInput [(value)]="horarioTurma">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 2%;">
                <mat-label>Previsão início </mat-label>
                <input selected name="templateName" matInput disabled [(value)]="previAtual"
                    placeholder="aplicar desconto">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 1%;">
                <mat-label>Previsão término </mat-label>
                <input selected name="templateName" matInput disabled [(value)]="previTerminoAtual"
                    placeholder="aplicar desconto">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 1%;">
                <mat-label>Previsão término </mat-label>
                <input selected name="templateName" matInput disabled [(value)]="previTerminoAtual"
                    placeholder="aplicar desconto">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 15%; margin-left: 1%;">
                <mat-label>Previsão término </mat-label>
                <input selected name="templateName" matInput disabled [(value)]="previTerminoAtual"
                    placeholder="aplicar desconto">
            </mat-form-field>





            <mat-form-field appearance="outline" style="width: 24%;margin-left: 2%;margin-top: 20px;">
                <mat-label>Forma de pagamento</mat-label>
                <mat-select formControlName="meioPagamento" selected name="cargo" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let item of meioPagamento" [value]="item.type">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill" style="width: 38%;margin-left: 2%;margin-top: 20px;"> -->

                <!-- <mat-form-field appearance="outline" style="width: 120px; ">
                    <mat-label>Vencimento</mat-label>
                    <input mask="00/00/0000" required name="cpf" matInput placeholder="Vencimento" 
                    [(ngModel)]="vencimento"
                        (focusout)="onFocusOutDateEvent($event)"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                </mat-form-field> -->

            <!-- <span style="padding: 5px; margin-left: 5%">

                <span *ngIf="showPerguntaRespFinanc" style="margin-left: 1%;">
                    <label class="example-margin">À vista?</label>
                    <mat-radio-group>
                        <mat-radio-button [checked]="checkedRespFinanc.sim" color="primary" class="example-margin"
                            (click)="aVista(true)" value="Sim">Sim</mat-radio-button>
                        <mat-radio-button [checked]="checkedRespFinanc.nao" color="primary" class="example-margin"
                            (click)="aVista(false)" value="Não">Não</mat-radio-button>
                    </mat-radio-group>
                </span>

            </span> -->


            <!-- <mat-form-field *ngIf="showParcelas" appearance="fill" style="width: 14%; margin-left: 1%;">
                <mat-label>Número de parcelas</mat-label>
                <input disabled selected formControlName="qntParcelas" name="qntParcelas" required matInput>
            </mat-form-field> -->
            <mat-form-field *ngIf="shoNParcelar" appearance="outline" style="width: 25%;margin-left: 2%;margin-top: 20px;">
                <mat-label>Número de parcelas</mat-label>
                <mat-select formControlName="parcelas" selected name="noparcelas" required>
                    <!-- <mat-option ></mat-option> -->
                    <mat-option  *ngFor="let item of parcelas" [value]="item.type">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="shoNParcelar" appearance="outline" style="width: 40%;margin-left: 2%;margin-top: 20px;">
                <mat-label>Dia de vencimento:</mat-label>
                <mat-select formControlName="diaVencimento" selected name="diaVencimento" required>
                    <mat-option ></mat-option>
                    <mat-option  *ngFor="let item of diaVencimento" [value]="item.type">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <!-- <span style="margin-left: 5px;margin-right: 5px">À vista?</span>
            <mat-checkbox type="checkbox" color="primary" (click)="markAvista()" class="example-margin" name="checked">
            </mat-checkbox> -->
            <br>

            <!-- <span style="margin-left: 5px;margin-right: 5px">Confirmar pagamento da primeira ou única parcela (à vista): </span>
            <mat-checkbox type="checkbox" color="primary" (click)="markPrimeiraParc()" class="example-margin" name="checked">
            </mat-checkbox> -->


            <mat-form-field appearance="outline" style="width: 25%;margin-left: 2%;">
                <mat-label>Primeira parcela já paga:</mat-label>
                <mat-select formControlName="primeiraParcPaga" selected name="parcela" required>
                    <mat-option value="True">Sim</mat-option>
                    <mat-option value="false">Não</mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill" style="width: 38%;margin-left: 2%;margin-top: 20px;">
                <mat-label>Como ficou sabendo dos nossos cursos?</mat-label>
                <mat-select formControlName="cienciaCurso" selected name="cargo" required>
                    <mat-option (click)="searchAluno('nenhuma')"></mat-option>
                    <mat-option (click)="searchAluno(item.type)" *ngFor="let item of cienciaCurso" [value]="item.value">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
                <mat-label>Matrícula</mat-label>
                <input (focusout)="buscarAluno($event)" selected name="email" matInput
                    placeholder="Matrícula">
                <mat-hint @rowHighlight *ngIf="validadeEmailMsg" style="color: red;">
                    Nenhuma aluno encontrado
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
                <mat-label>Matrícula</mat-label>
                <input disabled selected name="email" matInput
                    placeholder="Matrícula">
                <mat-hint @rowHighlight *ngIf="validadeEmailMsg" style="color: red;">
                    Nenhuma aluno encontrado
                </mat-hint>
            </mat-form-field> -->

            <br>

            <br>

            <br>

            <!-- <span style="margin-left: 2%;">Escolha a forma de pagamento:</span>
            <mat-tab-group style="">
                <mat-tab label="Cartão de Crédito"> </mat-tab>
                <mat-tab label="Boleto"> </mat-tab>
                <mat-tab label="Carnê"></mat-tab>
            </mat-tab-group> -->


            <br>
            <button type="submit" mat-raised-button disabled="false"
                style="bottom: 0; float:right;margin-bottom: 10px;margin-left: 10px;">
                Confirmar matrícula
            </button>

        </form>

    </mat-tab>
</mat-tab-group>