<div class="container">

    <div class="row" style="margin-bottom: 10px;">

        <div style="font-size: 1.2em;"></div>

        <div>
            {{msg}}
        </div>

    </div>

    <mat-progress-bar [style.visibility]="hidden" @rowHighlight mode="query"></mat-progress-bar>

    <div class="row">
        <button type="button" mat-raised-button  style="width: 30px;" (click)="confirmar()"
            color="primary" [disabled]="disabledSaveButton">SIM</button>
        <button type="button" mat-raised-button  style="width: 30px;" (click)="cancelar()"
            [disabled]="disabledSaveButton">NÃO</button>
    </div>

</div>


<!-- <div class="container">

    <div class="row" style="margin-bottom: 10px;">

        <div style="font-size: 1.2em;">Matrícula realizada com sucesso!</div>

        <div>
            Deseja imprimir o contrato e a ficha de matrícula?
        </div>

    </div>

    <span [style.visibility]="msgSpan" style="font-size: 0.8em;">{{msg}}</span>

    <mat-progress-bar [style.visibility]="hidden" @rowHighlight mode="query">
    </mat-progress-bar>

    <div class="row">
        <button style="width: 30px;" (click)="Confirm(true)" mat-button>SIM</button>
        <button style="width: 30px;" (click)="Confirm(false)" mat-button>NÃO</button>
    </div>
</div> -->