<div class="container">

    <div class="row" style="margin-bottom: 10px;">
      
        <div style="font-size: 1.2em;">Deseja realmente deletar o arquivo?</div>
       
  
        <!-- <div >
            Deseja realmente deletar o arquivo?
        </div> -->
  
    </div>
    <div class="row" style="">
        <button style="width: 30px;" [mat-dialog-close]="{clicked:'sim'}" mat-button>SIM</button>
        <button style="width: 30px;" [mat-dialog-close]="{clicked:'cancel'}" mat-button>NÃO</button>
    </div>
  </div>