<div style="font-size: 1.2em;">Criar Sala / {{data["unidade"].descricao}}
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<hr>

<div style="position: relative;">

    <form novalidate [formGroup]="salaForm" (ngSubmit)="onSubmit(salaForm)">

        <mat-form-field appearance="standard" style="width: 200px; ">
            <mat-label>Descrição</mat-label>
            <input formControlName="descricao" matInput placeholder="EX: Sala frente">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 100px; margin-left: 15px;">
            <mat-label>Capacidade</mat-label>
            <input ng-pattern="/^[a-z]*$/" formControlName="capacidade"
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" name="capacidade"
                matInput>
        </mat-form-field>

        <br>

        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Observações gerais</mat-label>
            <textarea formControlName="comentarios" matInput maxlength="200"
            placeholder="EX: Sala com ar-condicionado"></textarea>
        </mat-form-field>

        <mat-progress-bar [style.visibility]="spinnerSave" @rowHighlight mode="query">
        </mat-progress-bar>

        <button mat-raised-button color="primary" [disabled]="disabledButton" style="float:right;margin-top: 10px;">
            Salvar</button>
    </form>

</div>