<!-- <div class="container">

    teste<br>

   
    <div class="card-header">
        <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
            LEADS</h4>
        <p class="card-category"> </p>
    </div>
    <div class="card-body">

        
        <div class="row" style="margin-bottom:15px;">
            <div class="">
                <input multiple type="file" #file placeholder="Choose file" onclick="this.file=null"
                    (change)="uploadFile(file.files)" style="display:none;">
                <button multiple style="width: 140px;" type="button" class="btn btn-success"
                    (click)="file.click()">Exportar
                    Lead</button>
                <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
            </div>
            <div class="">
                <span class="upload" *ngIf="progress > 0">
                    {{progress}}%
                </span>
                <span class="upload" *ngIf="message">
                    {{message}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="">
               
            </div>
        </div>

        <button style="margin-left:30px;margin-top: 10px;" mat-raised-button
            [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button>

        <br>

        <button (click)="openExportModal()">modal</button>

        <br><br>
       

        <br>



        <div class="">
            <input multiple type="file" #file2 placeholder="Choose file" onclick="this.file2=null"
                (change)="addFile(file2.files)" style="display:none;">
            <button multiple style="width: 140px;" type="button" class="btn btn-success"
                (click)="file2.click()">Exportar
                Lead</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>

        <div class="">
            <input multiple type="file" #file3 placeholder="Choose file" onclick="this.file3=null"
                (change)="addFile2(file3.files)" style="display:none;">
            <button multiple style="width: 140px;" type="button" class="btn btn-success"
                (click)="file3.click()">Exportar
                Lead</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>

        <div (click)="sendFiles()">send</div>

    </div>

    <br>

    <div >
        <mat-form-field style="width: 100px;" appearance="fill">
            <mat-label>Phone number</mat-label>
            <mytime-input required></mytime-input>
            
            <mat-hint>Include area code</mat-hint>
        </mat-form-field>
    </div>

    <br>

    <div >
        <mat-form-field style="width: 100px;" appearance="fill">
            <mat-label>Phone number</mat-label>
            <currency-input required></currency-input>
            
            <mat-hint>Include area code</mat-hint>
        </mat-form-field>
    </div>


    <div class="row" style="padding: 5px; border: 1px solid red;height: 50px;">
        <div class="col-2" style="border: 1px solid red;width: 100px;">

        </div>
        <div class="col-2" style="border: 1px solid red;width: 100px;">

        </div>
    </div>
</div> -->
<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->

<!-- <li>
  <button mat-button [matMenuTriggerFor]="afterMenu">
    <img src="../../../assets/img/nophoto.png" alt="" width="32" height="32" class="rounded-circle me-2"></button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
              
              <button  style="height: 30px;" (click)="logout()" mat-menu-item>sair</button>
            </mat-menu>
</li> -->

<div style="border: 1px solid black;height: 100%;position: relative ">

<div style="z-index: 1;border: 1px solid red;text-align: center;float: right; width:200px; height: 50px;">
<span>SISTEMA DE ENSINO INVICTUS</span><br>
  FICHA DE MATRÍCULA
</div>

  <div style="margin-top: 50px;border: 1px solid red;width:100px;height: 50px;"></div>

  <div style="position: absolute;top:0;
  position: absolute;
   
  border: 1px solid red;width:100px;height: 50px;">
  <img src="../../../assets/img/nophoto.png" alt="" width="32" height="32" class="rounded-circle me-2"></div>


</div>


<input multiple type="file" #fileAP placeholder="Choose file" (change)="onFileSelected(fileAP.files)"
            style="display:none;">
        
            <mat-icon type="button" #tooltip="matTooltip" matTooltip="anexar arquivo"
            matTooltipPosition="above" matTooltipHideDelay="100" (click)="fileAP.click()" style="vertical-align: middle; 
        margin: 0px; margin: 0px;">attachment</mat-icon>


<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>



<br>
<div style="display: inline-block;margin-right: 5px;">
    <mat-card class="example-card"
        style="visibility: visible; border: 1px solid rgb(93, 93, 104);padding: 0px;width: 144px;height: 180px;">
        <mat-card-header style="padding: 0px;justify-content: center;">
            <!-- <div mat-card-avatar class="example-header-image" style="border: 1px solid red;">x</div> -->
            <mat-card-title style="margin-top: 5px;">
                Fev/02</mat-card-title>
            <!-- <mat-card-subtitle style="border: 1px solid red;padding: 0px;margin: 0px;">Fev/02</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content style="border: 1px solid rgb(93, 93, 104);">
            <span *ngFor="let item of semanas; let i = index;" style="border: 1px solid rgb(93, 93, 104); 
            font-weight:800;
            display: flex;float: left;
            margin-bottom: 3px;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;">
                {{item}}</span>

            <span *ngFor="let item of calendarArray; let i = index;" [ngStyle]="styles">{{i+1}}</span>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
<div style="display: inline-block;">
    <mat-card class="example-card" style="border: 1px solid rgb(93, 93, 104);;padding: 0px;width: 144px;height: 180px;">
        <mat-card-header style="padding: 0px;justify-content: center;">
            <!-- <div mat-card-avatar class="example-header-image" style="border: 1px solid red;">x</div> -->
            <mat-card-title style="margin-top: 5px;">
                Fev/02</mat-card-title>
            <!-- <mat-card-subtitle style="border: 1px solid red;padding: 0px;margin: 0px;">Fev/02</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content style="border: 1px solid rgb(93, 93, 104);">
            <span *ngFor="let item of semanas; let i = index;" style="border: 1px solid rgb(93, 93, 104); 
            font-weight:800;
            display: flex;float: left;
            margin-bottom: 3px;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;">{{item}}</span>

            <span *ngFor="let item of calendarArray; let i = index;" style="border: 1px solid rgb(93, 93, 104); display: flex;float: left;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;">{{i+1}}</span>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
<br><br>
<!-- <div class="parent" style="height: 500px;
width: 500px;border: 1px solid red;
position: relative;">
    <div class="container" style="position: absolute;
    top: 0;border: 1px solid red;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;">
        <p>Hello</p>
        <p>World</p>
    </div>
</div> -->
<div class="container">
    <div class="col-6">
        <div id="main" style="width: 600px;
height: 40px;
border: 1px solid black; 
display: flex;
align-items: center;
">
            <div style="height:30px;width: 40px;border-radius: 2px; flex: 1;background-color:coral;"></div>
            <div style="flex: 20;margin-left: 5px;">Enfermagem nas Intercorrências Clínicas</div>
            <!-- <div style="flex: 1;background-color:lightgreen;">Green div with more content.</div> -->

        </div>

    </div>
    <div class="col-6">
        <div id="main" style="width: 600px;
    height: 40px;
    border: 1px solid black; 
    display: flex;
    align-items: center;
    ">
            <div style="height:30px;width: 40px;border-radius: 2px; flex: 1;background-color:coral;"></div>
            <div style="flex: 20;margin-left: 5px;">Enfermagem nas Intercorrências Clínicas</div>
            <!-- <div style="flex: 1;background-color:lightgreen;">Green div with more content.</div> -->

        </div>

    </div>
</div>

<br>


<mat-grid-list cols="2">
    <mat-grid-tile>

        <div id="main" style="width: 600px;
        height: 40px;
        border: 1px solid black; 
        display: flex;
        align-items: center;
        ">
            <div style="height:30px;width: 40px;border-radius: 2px; flex: 1;background-color:coral;"></div>
            <div style="flex: 20;margin-left: 5px;">Enfermagem nas Intercorrências Clínicas</div>
            <!-- <div style="flex: 1;background-color:lightgreen;">Green div with more content.</div> -->

        </div>


    </mat-grid-tile>
    <mat-grid-tile>
        <div id="main" style="width: 600px;
        height: 40px;
        border: 1px solid black; 
        display: flex;
        align-items: center;
        ">
            <div style="height:30px;width: 40px;border-radius: 2px; flex: 1;background-color:coral;"></div>
            <div style="flex: 20;margin-left: 5px;">Enfermagem nas Intercorrências Clínicas</div>
            <!-- <div style="flex: 1;background-color:lightgreen;">Green div with more content.</div> -->

        </div>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<br>

<!-- <div *ngFor="let item of number[10]">teste</div> -->




<!-- <div class="row justify-content-center">
        <div class="col"> -->

<div class="card-header">
    <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
        LEADS</h4>
    <p class="card-category"> </p>
</div>

<div class="container">
    <div style="margin-bottom:15px;">
        <div class="">
            <input multiple type="file" #file placeholder="Choose file" (change)="apendFile1(file.files)"
                style="display:none;">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="file.click()">juntar CPF
            </button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>
        <div class="">
            <input multiple type="file" #filex placeholder="Choose file" (change)="apendFile2(filex.files)"
                style="display:none;">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="filex.click()">juntar
                RG</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>
        <div class="">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="removerCPF()">remover
                cpf</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>
        <div class="">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="removerRG()">remover
                rg</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>
        <div class="">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="verificar()">ver</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>

        <div class="">
            <button style="width: 140px;" type="button" class="btn btn-success" (click)="uploadFile2()">Exportar
                Lead</button>
            <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
        </div>
        <div class="">
            <span class="upload" *ngIf="progress > 0">
                {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
                {{message}}
            </span>
        </div>
    </div>

    <hr>




</div>

<br><br>
<div class="container">

    <button (click)="getTeste()">Get Image</button>
    {{imagem}}
    <img style="border: 1px solid red" [src]="imagem" alt="Your image" style="display: block" />
    <div *ngIf="blobTeste.length > 0">
        teste blob
        <div *ngFor="let item of blobTeste">
            <div *ngFor="let itemx of item.documentos">
                teste blobo
                <img style="border: 1px solid red" [src]="itemx.dataFile" alt="Your image" style="display: block" />
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div (click)="downloadContrato()">download PDF</div>

<!-- <mat-form-field appearance="outline" style="width: 13%; margin-left: 2%;">
    <mat-label>Dia</mat-label>
    <input disabled name="templateName" matInput [(value)]={nome ' ow'}>
</mat-form-field> -->
<br>

<div>{{ capturar }}</div>

<br>

<form [formGroup]="parentForm" novalidate>

    <div formGroupName="_filhosum">
        <b>Name</b>
        <br />
        <label>First Name
            <input type="text" formControlName="nome">
            
        </label>
        <br />
        <label>Last Name
            <input type="text" formControlName="sobrenome">
            
        </label>
    </div>
    br/


</form>


<form [formGroup]="parentForm" novalidate>

    <div formGroupName="_filhodois">
        <b>Name</b>
        <br />
        <label>First Name
            <input type="text" formControlName="endereco">
            
        </label>
        <br />
        <label>Last Name
            <input type="text" formControlName="bairro">
            
        </label>
    </div>
    br/


</form>

<div (click)="enviarComDesativado()"> ver form</div>

<br>

date 

<form >
    <mat-form-field appearance="standard" style="width: 25%; ">
        <mat-label>Date</mat-label>
        <input  mask="00/00/0000" required name="cpf" matInput placeholder="cpf" 
        [(ngModel)]="valor"
        (focusout)="onFocusOutDateEvent($event)" 
            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
    </mat-form-field>
    <button type="submit" style="margin: 0px; margin: 0px;" mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
</form>

<mat-form-field appearance="fill">
                       
    <input [(ngModel)]="dataPicker" name="aval"  matInput 
    [matDatepicker]="dp3" >
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>

<br>

<div (click)="setValueDisabled()">set value</div>

<form [formGroup]="formDisabled" novalidate>
    <mat-form-field appearance="standard" style="width: 25%; ">
        <mat-label>nome</mat-label>
        <input disabled [value]="formDisabled.get('nome').value" required name="cpf" matInput placeholder="cpf" 
        
            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 25%; ">
        <mat-label>nome</mat-label>
        <input disabled formControlName="sobrenome"
        [value]="formDisabled.get('sobrenome').value" required name="cpf" matInput placeholder="cpf" 
        
            >
    </mat-form-field>

    
</form>

<div (click)="setSobrenome()">set sobrenome</div>
<div (click)="verformdisable()">ver form</div>
<br>
Date Input <br>
<form [formGroup]="formDisabled" novalidate>
    <mat-form-field appearance="standard" style="width: 25%; ">
        <mat-label>nome</mat-label>
        <input disabled [value]="formDisabled.get('nome').value" required name="cpf" matInput placeholder="cpf" 
        
            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
    </mat-form-field>

    

    
</form>
<br>
PRINT PDF
<br>
<button (click)="generatePdf()">Open PDF</button>

<br>
<br>
<br>
<br>
<br>
<nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
    <div class="navbar-brand mb-0 h1 text-white">ONLINE RESUME BUILDER</div>
  </nav>
  <div class="container-fluid">
    <form #resumeForm="ngForm">
      <div class="row">
        <div class="col-md-8">
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons">
                  account_circle
                </i>
                Personal Details</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.name" name="name" placeholder="Name"
                      #Name="ngModel" required
                      [ngClass]="{'is-invalid': Name.invalid && (Name.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" [(ngModel)]="resume.address" name="address" rows="3"
                        placeholder="Address" #Address="ngModel" required
                        [ngClass]="{'is-invalid': Address.invalid && (Address.touched || resumeForm.submitted) }"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.contactNo" name="contactNo"
                      placeholder="Contact No." #ContactNo="ngModel" required
                      [ngClass]="{'is-invalid': ContactNo.invalid && (ContactNo.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.email" name="emailId"
                      placeholder="Email ID" #Email="ngModel" required
                      [ngClass]="{'is-invalid': Email.invalid && (Email.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.socialProfile" name="socialProfile"
                      placeholder="Social Profile ">
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Skills -->
          <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    timeline
                  </i>
                  Skills</h4>
                <button class="btn btn-primary" (click)="addSkill()">+</button>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.skills; let i=index;">
                  <div class="form-group">
                    <input type="text" class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                      placeholder="e.g. Java / Angular / .Net " #Skill="ngModel" required
                      [ngClass]="{'is-invalid': Skill.invalid && (Skill.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
          <!-- Experience -->
          <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    timeline
                  </i>
                  Experience</h4>
                <button class="btn btn-primary" (click)="addExperience()">+</button>
              </div>
              <div class="row" *ngFor="let ex of resume.experiences; let i=index;">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="employer{{i}}" [(ngModel)]="ex.employer"
                      placeholder="Employer" #Employer="ngModel" required
                      [ngClass]="{'is-invalid': Employer.invalid && (Employer.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" name="jobDescription{{i}}" [(ngModel)]="ex.jobDescription" rows="3"
                        placeholder="Job Description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="jobTitle{{i}}" [(ngModel)]="ex.jobTitle"
                      placeholder="Job Title" #JobTitle="ngModel" required
                      [ngClass]="{'is-invalid': JobTitle.invalid && (JobTitle.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" name="exInMonths{{i}}" [(ngModel)]="ex.experience"
                      placeholder="Experience in months" #Experience="ngModel" required
                      [ngClass]="{'is-invalid': Experience.invalid && (Experience.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
          <!-- Education -->
          <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    school
                  </i>
                  Education</h4>
                <button class="btn btn-primary" (click)="addEducation()">+</button>
              </div>
              <div class="row" *ngFor="let ed of resume.educations; let i=index;">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" placeholder="Degree" name="degree{{i}}" [(ngModel)]="ed.degree"
                      #Degree="ngModel" required
                      [ngClass]="{'is-invalid': Degree.invalid && (Degree.touched || resumeForm.submitted) }">
                      <option [value]="d" *ngFor="let d of degrees">{{d}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="college{{i}}" [(ngModel)]="ed.college"
                      placeholder="School/College" #College="ngModel" required
                      [ngClass]="{'is-invalid': College.invalid && (College.touched || resumeForm.submitted) }">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="number" class="form-control" name="passingYear{{i}}" [(ngModel)]="ed.passingYear"
                      placeholder="Passing Year" #PassingYear="ngModel" required
                      [ngClass]="{'is-invalid': PassingYear.invalid && (PassingYear.touched || resumeForm.submitted) }">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="number" class="form-control" name="result{{i}}" [(ngModel)]="ed.percentage"
                      placeholder="Percentage" #Percentage="ngModel" required
                      [ngClass]="{'is-invalid': Percentage.invalid && (Percentage.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Other Details -->
  
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons"> list </i>Other Details</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="resume.otherDetails" name="otherDetails"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="shadow-sm card action-buttons">
            <button (click)="resumeForm.valid ? generatePdf('open') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                picture_as_pdf
              </i> <span>Open PDF</span></button>
            <button (click)="resumeForm.valid ? generatePdf('download') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                cloud_download
              </i><span>Download PDF</span></button>
            <button (click)="resumeForm.valid ? generatePdf('print') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                print
              </i><span>Print PDF</span></button>
  
            <button type='reset' (click)="resetForm()"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                clear
              </i><span>Reset</span></button>
          </div>
  
          <div class="card p-4">
            <div class="form-group">
              <label class="h4 mb-3" for="">Show your picture in Resume</label>
              <input type="file" class="form-control-file" (change)="fileChanged($event)" aria-describedby="fileHelpId">
            </div>
            <img *ngIf="resume.profilePic" [src]="resume.profilePic" class="img-thumbnail">
          </div>
        </div>
      </div>
    </form>
  </div>

  <br><br><br>

  <div class="row" style="margin-bottom:15px;">
    <div class="">
        <input multiple type="file" #file placeholder="Choose file" (change)="uploadFileEXCEL(file.files)"
            style="display:none;">
        <button style="width: 140px;" type="button" class="btn btn-success" (click)="file.click()">Exportar
            Lead</button>
        <span style="font-size: 0.7em;"><br>* formato aceito: excel (.xls)</span>
    </div>
    <div class="">
        <!-- <span class="upload" *ngIf="progress > 0">
            {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
            {{message}}
        </span> -->
    </div>
</div>

<br><br><br>
FORMARRAY
<br>
<!-- <ng-container formArrayName="materias">

  <ng-container *ngFor="let lessonForm of materias.controls; let i = index;">

      <div class="lesson-form-row" [formGroup]="lessonForm">
          <mat-form-field appearance="fill">
              <input matInput
                     formControlName="title"
                     placeholder="Lesson title">
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-left: 5%;">
              <mat-select formControlName="level"
                      placeholder="Lesson level">
                  <mat-option value="beginner">Beginner</mat-option>
                  <mat-option value="intermediate">Intermediate</mat-option>
                  <mat-option value="advanced">Advanced</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-icon class="delete-btn" (click)="deleteLesson(i)">
              delete_forever</mat-icon>
      </div>
  </ng-container>

</ng-container> -->

<br><br><br>

<angular-editor color="primary" disabled [placeholder]="'Enter text here...'" [(ngModel)]="conteudo"></angular-editor>

<angular-editor  [config]="editorConfig"></angular-editor>