<div class="container" style="margin-bottom: 10px;">
    <mat-form-field class="example-full-width" appearance="outline" style="width: 43%;">
        <mat-label>Turma</mat-label>
        <input disabled name="templateName" matInput value="Turma CGI 000001 (Curso Técnico em Enfermagem)">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" style="width: 15%;">
        <mat-label>Turno</mat-label>
        <input disabled name="templateName" matInput value="Manhã">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" style="width: 15%;">
        <mat-label>Horário</mat-label>
        <input disabled name="templateName" matInput value="08:00 às 13:00">
    </mat-form-field>
    <br>
    <div class="" style="justify-content: center; padding-left: 20px;">


        <div style="justify-content: center; display: inline-block;margin-top: 10px;margin-left: 5px;"
            *ngFor="let proto of prototipoCalendario;let x = index;">

            <mat-card class="example-card"
                style="border: 1px solid rgb(104, 93, 99);;padding: 0px;width: 144px;height: 180px;">
                <mat-card-header style="padding: 0px;justify-content: center;">
                    <!-- <div mat-card-avatar class="example-header-image" style="border: 1px solid red;">x</div> -->
                    <mat-card-title style="margin-top: 5px;">
                        {{proto.mes}}/{{proto.ano}}</mat-card-title>
                    <!-- <mat-card-subtitle style="border: 1px solid red;padding: 0px;margin: 0px;">Fev/02</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content style="border: 1px solid rgb(93, 93, 104);">
                    <span *ngFor="let semana of semanas; let i = index;" style="border: 1px solid rgb(93, 93, 104);
                    font-weight:800;
                    display: flex;float: left;
                    margin-bottom: 3px;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;">{{semana}}</span>
            
                    <span *ngFor="let item of proto.dias; let i = index;" id="day{{item}}-{{proto.mes}}"
                        [ngStyle]="{background:item.cor,visibility:proto.visibility }"
                        style="border: 1px solid rgb(93, 93, 104);
                    display: flex;
                    float: left;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px">
                        {{item.dia}}
                    </span>

                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>



    </div>

</div>


<mat-grid-list cols="2" rowHeight="20px" style="margin-left: 30px;margin-top: 15px;">
    <mat-grid-tile *ngFor="let item of grids" style="margin-bottom: 10px;">

        <div id="main" style="width: 600px;
        height: 40px;
        display: flex;
        align-items: center;">
            <div [ngStyle]="item.estilo">
            </div>
            <div style="flex: 21;margin-left: 5px;font-size: 0.9em;">{{item.materia}}</div>
            <!-- [ngStyle]="styles" -->
        </div>

    </mat-grid-tile>

    <!-- <mat-grid-tile style="">
        <div id="main" style="height: 40px;width: 600px;
        
        display: flex;
        align-items: center;
        ">
            <div style="height:30px;width: 40px;border-radius: 2px; flex: 1;background-color:coral;"></div>
            <div style="flex: 21;margin-left: 5px;">Enfermagem nas Intercorrências Clínicas</div>
            

        </div>
    </mat-grid-tile> -->

</mat-grid-list>


<div style="margin-top: 20px;">
    <button type="submit" mat-raised-button disabled="false" style="float:right;margin-bottom: 10px;margin-left: 10px;">
        Salvar
    </button>
    <button style="float:right;margin-bottom: 10px;" mat-raised-button
        [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button>
</div>