<div class="container" style="width: 95%; padding-top: 20px;">

    <!-- <div>
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="criar colaborador" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="infoPagamento()" mat-icon-button>
                <mat-icon>attach_money</mat-icon>
            </button>
        </i>
    </div> -->

    <br>

    <!--TODO? aqui mostrar todos os valores, sejam oriundos de turmas/cursos ou nao!-->
    <form class="form-inline siteForm" style="margin-top: 5px;display: inline-block">

        <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
            Selecione o período para pesquisar pelas vendas efetuadas:
        </span>

        <div class="form-row align-items-center divSiteForm" style="padding: 0px;" >
           
            <!-- <mat-form-field appearance="standard" style="width: 110px; transform: scale(0.85);">
                <mat-label>Nº Lanç.</mat-label>
                <input #nome selected name="templateName" matInput placeholder="digite o número">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="width: 110px; margin-left: 2px;transform: scale(0.85);">
                <mat-label>Nº Doc.</mat-label>
                <input #email selected name="templateName" matInput placeholder="digite o número">
            </mat-form-field> -->

            <mat-form-field style="transform: scale(0.85);margin-top: 10px;margin-left: -4%;" 
            appearance="fill" >
                <mat-label>Selecione o período</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="início">
                    <input matEndDate formControlName="end" placeholder="fim">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker ></mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>

            <span style="margin-left: 2px;margin-bottom: 30px;">
                <i style="margin-left: 2px;margin-bottom: 10px;" #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button (click)="pesquisarData()" type="submit" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span>

            <!-- <mat-form-field class="siteForm-select" style="width: 110px; margin-left: 2px;transform: scale(0.85);">
                <mat-label>Data</mat-label>
                <input #cpf selected name="templateName" matInput placeholder="escolha a data">
            </mat-form-field>
            até
            <mat-form-field class="siteForm-select" style="width: 110px; margin-left: 2px;transform: scale(0.85);">
                <mat-label>Data</mat-label>
                <input #cpf selected name="templateName" matInput placeholder="escolha a data">
            </mat-form-field> -->

            <!-- <span>
                <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button style="" (click)="pesquisar(nome.value, email.value,cpf.value)" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span> -->

        </div>

    </form>


    <div class="card-header " style="background-color: rgb(227, 240, 227);margin-left: 10px;
   width: 350px; font-size: 0.9em;box-shadow: 0 0 0.5em rgb(172, 170, 170);" unselectable="on"
        onselectstart="return false;" *ngIf="showMessageNoColaborador">{{mensagem}}</div>

    <!-- <mat-spinner @rowHighlight *ngIf="showSpinnerFirst" [diameter]="100" style="margin-left: 36.5%;
        top: 46.5%; 
        position: absolute;">
    </mat-spinner> -->

    <div @rowHighlight *ngIf="debitos.length > 0" class="card card-plain mat-elevation-z8" style="width: 100%;
            position: relative;
            margin-top: 50px;
            box-shadow: 0 0 1em rgb(172, 170, 170);
            background-color: rgb(227, 240, 227);">

        <div class="card-header">
            <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
                Cursos</h4>
            <p class="card-category"> Entradas no período oriundo de cursos: </p>
            <span>Total no período: {{totalVendas  | currency:'BRL':true:'1.2-2' }}  </span>
        </div>

        <div class="card-body">
            <div class="table-responsive" style="height: 430px;position: relative;">

                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <thead>
                        <tr>
                            <th style="width: 2%;font-size: 0.8em; 
                    text-align:left; 
                    vertical-align: middle;
                    border-top: 0px;"></th>

                            <th style="width: 35%;font-size:0.8em;
                                    vertical-align: middle;
                                    text-align:left;
                    border-top: 0px; font-weight: 400;">Origem</th>

                            <th style="width: 15%;font-size:0.8em;
                            vertical-align: middle;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">Data<br>pagamento</th>

                            <th style="width: 15%;font-size:0.8em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Valor</th>

                            <th style="width: 11%;font-size:0.8em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Meio<br>pagamento</th>

                            <th style="width: 1%;
                    border-top: 0px;"></th>

                            <th style="width: 21%;
                    border-top: 0px;">
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of debitos;let i = index;" @rowHighlight>
                            <td style="text-align:center;vertical-align: middle;">
                                {{i + 1}}
                            </td>

                            <td style="text-align:left;vertical-align: middle;">
                                {{item.descricao }}
                            </td>

                            <td style="text-align: center;vertical-align: middle;">
                                {{item.dataPagamento | date:'d/M/y'}}
                            </td>

                            <td style="text-align: center;vertical-align: middle;">
                            {{item.valorPago | currency:'BRL':true:'1.2-2'}}</td>

                            <td style="text-align: center;vertical-align: middle;">

                                {{ item.meioPagamento }}
                                <!-- <div *ngIf="item.ativo == true;else inativo">

                                    <mat-icon style="margin: 0px; margin: 0px;
                                        background-color: rgb(227, 240, 227);;color: green;" style="color: green;">
                                        done_outline</mat-icon>
                                    

                                </div>
                                <ng-template #inativo>

                                    <mat-icon style="background-color: rgb(227, 240, 227);
                                            margin: 0px; margin: 0px;color: red; ">close</mat-icon>


                                </ng-template> -->

                            </td>

                            <td style="position: relative;">

                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="showSpinner" (click)="openEditUserModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>settings</mat-icon>
                                    </button>
                                </i> -->

                            </td>
                            <td style="position: relative;">

                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="deletar"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="showSpinner" (click)="deleteColaborador(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </i> -->

                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <mat-paginator *ngIf="length > 5" style="
                background-color: rgb(227, 240, 227);
                bottom: 0px;
                right: 0px;" [length]="length" [pageSize]="5" hidePageSize="true" (page)="pageEvent = $event"
                (click)="changePage(pageEvent)">
            </mat-paginator>

        </div>

        <mat-spinner @rowHighlight *ngIf="showSpinner" [diameter]="100" style="margin-left: 46.5%;
            top: 46.5%; 
            position: absolute;">
        </mat-spinner>
    </div>
</div>