<div style="font-size: 1.2em;">Boa Tarde, {{tokenInfo.Name}}
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>


<hr>


<div class="container">

  
    <div style="font-style: italic;font-size: 0.9em;">Para poder se candidatar à uma vaga de estágio, é necessário o
        envio das
        documentaçãoes listadas abaixo.
    </div>
    <div style="font-style: italic;font-size: 0.9em;color: red;">
        * formatos permitidos: jpeg, pdf
    </div> 
    <div style="font-style: italic;font-size: 0.9em;color: red;">
        * tamanho máximo permitido por arquivo: 500kb
    </div>
    <br>

    <div>seguro contra acidentes pessoais
        <input multiple type="file" #fileAP placeholder="Choose file" (change)="apendFileAP(fileAP.files)"
            style="display:none;">
        
            <mat-icon type="button" #tooltip="matTooltip" matTooltip="anexar arquivo"
            matTooltipPosition="above" matTooltipHideDelay="100" (click)="fileAP.click()" style="vertical-align: middle; 
        margin: 0px; margin: 0px;">attachment</mat-icon>
        
        <span style="margin-left: 5px;font-size: 0.9em;">{{fileAPViewName || ''}}</span>
        <!-- <span style="margin-left: 5px;font-size: 0.9em;color: red;">* formato ou tamanho inválido </span> -->
    </div>

    <div>cartão de vacinação
        <input multiple type="file" #fileCV placeholder="Choose file" (change)="apendFileCartaoVac(fileCV.files)"
        style="display:none;">

        <mat-icon type="button" #tooltip="matTooltip" matTooltip="anexar arquivo"
            matTooltipPosition="above" matTooltipHideDelay="100" (click)="fileCV.click()" style="vertical-align: middle; 
        margin: 0px; margin: 0px;">attachment</mat-icon>

        <span style="margin-left: 5px;font-size: 0.9em;">{{fileCartaoVacViewName || ''}}</span>
    </div>

    <div>tipo sanguíneo
        <input multiple type="file" #fileTP placeholder="Choose file" (change)="apendFileTipoSang(fileTP.files)"
            style="display:none;">

            <mat-icon type="button" #tooltip="matTooltip" matTooltip="anexar arquivo"
            matTooltipPosition="above" matTooltipHideDelay="100" (click)="fileTP.click()" style="vertical-align: middle; 
        margin: 0px; margin: 0px;">attachment</mat-icon>

        <span style="margin-left: 5px;font-size: 0.9em;">{{fileTipoSangViewName || ''}}</span>
    </div>
    <div>Beta HGC recente (pelo menos 30 dias antes da candidatura à vaga
        (apenas para sexo feminino)
        <input multiple type="file" #fileHCG placeholder="Choose file" (change)="apendFileHCG(fileHCG.files)"
            style="display:none;">

            <mat-icon type="button" #tooltip="matTooltip" matTooltip="anexar arquivo"
            matTooltipPosition="above" matTooltipHideDelay="100" (click)="fileHCG.click()" style="vertical-align: middle; 
        margin: 0px; margin: 0px;">attachment</mat-icon>

        <span style="margin-left: 5px;font-size: 0.9em;">{{fileHCGViewName || ''}}</span>
    </div>


    <div (click)="verificar()">verificar</div>
    <button type="submit" color="primary" (click)="uploadFile()" mat-raised-button disabled="false" style="float:right;margin-bottom: 10px;margin-left: 10px;">
        Enviar
    </button>
    <!-- <button style="float:right;margin-bottom: 10px;" mat-raised-button
        [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button> -->

</div>