
<div class="container" style="width: 80%;">
    <!-- <div class="row">
        <button style="width: 140px;margin-top: 10px;" type="button" class="btn btn-success" (click)="openExportModal()">exportar lead</button>

    </div> -->
    <br>
   
    <!-- <mat-form-field appearance="standard" style="width: 200px; ">
        <mat-label>Total Leads Cadastradas</mat-label>
        <input disabled [(ngModel)]="totalLeads" selected required name="templateName" matInput placeholder="Nome">
    </mat-form-field>

    <br> -->

    <mat-form-field appearance="standard" style="width: 200px; ">
        <mat-label>Total Cadastradas (hoje)</mat-label>
        <input disabled [(ngModel)]="totalLeadsHoje" selected required name="templateName" matInput placeholder="Nome">
    </mat-form-field>
 
    <div style="font-size: 0.9em;">Leads cadastradas nos últimos 7 dias:</div>
    <br>
    <div style="width:50%;background-color: aliceblue;">
        <canvas id="myChart" width="700" height="250" #mychart></canvas>
    </div>
   
</div>