mat-dialog-container {
  margin: 0px;
  padding: 0px;
  background-color: red !important;
}

::ng-deep .mat-form-field {
  //border-top-width: 0;
  //margin: 0px;
  //transform: translateY(-1.1em) scale(.75);
  //transform: scale(0.9);
  font-size: 0.9em;
}
