
<div style="font-size: 1.2em;">Matrícula
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>


<hr>
<span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
    Selecione o tipo do curso:</span>

<br>

<mat-form-field appearance="standard" style="width: 200px;margin-left: 10px;">
    <mat-label>Tipo do pacote</mat-label>
    <mat-select [disabled]="typePacotes.length == 0" selected required>
        <mat-option></mat-option>
        <mat-option (click)="pesquisarTurmas(type.id)" *ngFor="let type of typePacotes" [value]="type.id">
            {{type.nome}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field *ngIf="showTurmasEncontradas" appearance="standard" style="width: 320px;margin-left: 10px;">
    <mat-label>Turmas Encontradas nesta unidade:</mat-label>
    <mat-select selected required>
        <mat-option></mat-option>
        <mat-option (click)="buscar(turma.id)" *ngFor="let turma of turmas" [value]="turma.id">
            {{turma.descricao}} - {{turma.identificador}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-progress-bar [style.visibility]="hidden" @rowHighlight mode="query">
</mat-progress-bar>



<div @rowHighlight *ngIf="showContent">


    <mat-tab-group class="alunomatricula">

        <mat-tab label="Aluno">

            <br>

            <form novalidate [formGroup]="temRespFinm">

                <ng-container *ngIf="!menorIdade">

                    <span style="font-style: italic; font-size: 0.9em;">
                        Tem responsável financeiro: <mat-checkbox formControlName="temRespFin" class="example-margin">
                        </mat-checkbox>
                    </span>
                </ng-container>
            </form>

            <form style="" novalidate [formGroup]="temRespFinm">


                <br>


                <mat-form-field appearance="standard" style="width: 350px; ">
                    <mat-label>Nome completo</mat-label>
                    <input selected [value]="data['aluno'].nome" disabled required matInput>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 120px;">
                    <mat-label>CPF</mat-label>
                    <input disabled selected [value]="data['aluno'].cpf" disabled matInput>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 120px;">
                    <mat-label>RG</mat-label>
                    <input selected matInput [value]="data['aluno'].rg" disabled >
                </mat-form-field>

              
                <!-- <mat-progress-bar *ngIf="disabldSaveButton" style="margin:0px" mode="query"></mat-progress-bar>
                <div style="bottom: 0; float:right;">
                    <button type="button" (click)="salvarMat()" [disabled]="disabldSaveButton" mat-raised-button
                        color="primary" style="bottom: 0; float:right;margin-bottom: 10px;margin-left: 10px;">
                        Confirmar matrícula
                    </button>
                </div> -->

            </form>


        </mat-tab>

        <mat-tab *ngIf="menorIdade" label="Responsável menor">

            <form novalidate [formGroup]="respMenor">
                
                <br>

                <span style="font-style: italic;font-size: 0.9em;">
                    Possui responsável financeiro: <mat-checkbox (change)="modelChanged($event)" class="example-margin">
                    </mat-checkbox>
                </span>
                <br>
                <mat-form-field appearance="standard" style="width: 35%; ">
                    <mat-label>Nome completo</mat-label>
                    <input selected formControlName="nome" oninput="this.value = this.value.toUpperCase()" required name="nome" matInput placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>CPF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                        mask="000.000.000-00" formControlName="cpf" minlength="11" maxlength="14" selected name="cpf"
                        matInput placeholder="digite o CPF">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>RG</mat-label>
                    <input formControlName="rg"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected
                        name="rg" matInput placeholder="digite o RG">
                </mat-form-field>



                <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                    <mat-label>Nascimento</mat-label>
                    <date-input formControlName="nascimento" name="nascimento" matInput required></date-input>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 20%;">
                    <mat-label>Grau de parentesco</mat-label>
                    <input formControlName="parentesco" oninput="this.value = this.value.toUpperCase()" required name="naturalidadeUF" matInput
                        placeholder="Grau de parentesco">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 20%; margin-left: 2%;">
                    <mat-label>Naturalidade</mat-label>
                    <input selected formControlName="naturalidade" oninput="this.value = this.value.toUpperCase()" required name="naturalidade" matInput
                        placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                    <mat-label>UF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null" oninput="this.value = this.value.toUpperCase()"
                        minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required
                        name="naturalidadeUF" matInput placeholder="UF">
                </mat-form-field>

                <br>
                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Email</mat-label>
                    <input selected formControlName="email" name="email" oninput="this.value = this.value.toLowerCase()" 
                    matInput placeholder="Email">
                </mat-form-field>



                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Celular</mat-label>
                    <example-tel-input #cel name="telCelular" formControlName="telCelular"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>

                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>WhatsApp</mat-label>
                    <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Residencial</mat-label>
                    <example-tel-input name="telResidencial" formControlName="telResidencial"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>
                <br>

                <mat-form-field appearance="standard" style="width: 10%;">
                    <mat-label>CEP</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                        formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                        placeholder="apenas números">
                </mat-form-field>

                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="consultaCEPRespMenor(respMenor.get('cep').value)" style="margin: 0px; margin: 0px;"
                        mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>

                <br>

                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Logradouro</mat-label>
                    <input selected [value]="respMenor.get('logradouro').value" name="templateName" matInput
                        placeholder="ex: rua tal...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%;margin-left: 5%;">
                    <mat-label>Logradouro</mat-label>
                    <input selected [value]="respMenor.get('logradouro').value" name="templateName" matInput
                        placeholder="ex: rua tal...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
                    <mat-label>Complemento</mat-label>
                    <input selected formControlName="complemento" name="templateName" matInput oninput="this.value = this.value.toUpperCase()"
                        placeholder="ex: nº 123... sala 10... apto 123...">
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 30%;">
                    <mat-label>Cidade</mat-label>
                    <input disabled selected [value]="respMenor.get('cidade').value" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 10%; margin-left: 5%;">
                    <mat-label>UF</mat-label>
                    <input disabled selected [value]="respMenor.get('uf').value" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
                    <mat-label>Bairro</mat-label>
                    <input selected [value]="respMenor.get('bairro').value" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <br>

            </form>


        </mat-tab>


        <mat-tab *ngIf="temRespFinm.get('temRespFin').value" label="Responsável financeiro">
            <form novalidate [formGroup]="respFinForm">


                <mat-form-field appearance="standard" style="width: 35%; ">
                    <mat-label>Nome completo</mat-label>
                    <input selected formControlName="nome" required name="nome" oninput="this.value = this.value.toUpperCase()" matInput placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>CPF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                        mask="000.000.000-00" formControlName="cpf" minlength="11" maxlength="14" selected name="cpf"
                        matInput placeholder="digite o CPF">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                    <mat-label>RG</mat-label>
                    <input formControlName="rg"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected
                        name="rg" matInput placeholder="digite o RG">
                </mat-form-field>



                <mat-form-field appearance="standard" style="width: 17%; margin-left: 5%;">
                    <mat-label>Nascimento</mat-label>
                    <date-input formControlName="nascimento" name="nascimento" matInput required></date-input>
                </mat-form-field>

                <br>

                <mat-form-field appearance="standard" style="width: 20%;">
                    <mat-label>Grau de parentesco</mat-label>
                    <input formControlName="parentesco" required name="naturalidadeUF" oninput="this.value = this.value.toUpperCase()" matInput
                        placeholder="Grau de parentesco">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 20%; margin-left: 2%;">
                    <mat-label>Naturalidade</mat-label>
                    <input selected formControlName="naturalidade" oninput="this.value = this.value.toUpperCase()" required name="naturalidade" matInput
                        placeholder="Nome">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                    <mat-label>UF</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null" oninput="this.value = this.value.toUpperCase()"
                        minlength="2" maxlength="2" selected formControlName="naturalidadeUF" required
                        name="naturalidadeUF" matInput placeholder="UF">
                </mat-form-field>

                <br>
                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Email</mat-label>
                    <input selected formControlName="email" name="email" oninput="this.value = this.value.toLowerCase()" matInput placeholder="Email">
                </mat-form-field>



                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Celular</mat-label>
                    <example-tel-input #cel name="telCelular" formControlName="telCelular"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>

                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>WhatsApp</mat-label>
                    <example-tel-input name="telWhatsapp" formControlName="telWhatsapp"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                    <mat-label>Residencial</mat-label>
                    <example-tel-input name="telResidencial" formControlName="telResidencial"
                        onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                    </example-tel-input>
                    <mat-hint>telefone com DDD</mat-hint>
                </mat-form-field>
                <br>

                <mat-form-field appearance="standard" style="width: 10%;">
                    <mat-label>CEP</mat-label>
                    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                        formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                        placeholder="apenas números">
                </mat-form-field>
                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="consultaCEPFin(respFinForm.get('cep').value)" style="margin: 0px; margin: 0px;"
                        mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
                <br>

                <mat-form-field appearance="standard" style="width: 25%;">
                    <mat-label>Logradouro</mat-label>
                    <input selected [value]="respFinForm.get('logradouro').value" name="templateName" matInput
                        placeholder="ex: rua tal...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 15%; margin-left: 5%;">
                    <mat-label>Número</mat-label>
                    <input selected formControlName="numero" oninput="this.value = this.value.toUpperCase()" matInput placeholder="ex: rua tal...">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 40%; margin-left: 5%;">
                    <mat-label>Complemento</mat-label>
                    <input selected formControlName="complemento" name="templateName" oninput="this.value = this.value.toUpperCase()" matInput
                        placeholder="ex: nº 123... sala 10... apto 123...">
                </mat-form-field>
                <br>
                <mat-form-field appearance="standard" style="width: 30%;">
                    <mat-label>Cidade</mat-label>
                    <input disabled selected [value]="respFinForm.get('cidade').value" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 10%; margin-left: 5%;">
                    <mat-label>UF</mat-label>
                    <input disabled selected [value]="respFinForm.get('uf').value" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
                    <mat-label>Bairro</mat-label>
                    <input selected [value]="respFinForm.get('bairro').value" name="templateName" matInput
                        placeholder="digite o bairro">
                </mat-form-field>

                <br>

            </form>

        </mat-tab>


        <mat-tab label="plano pagamento">

            <form novalidate [formGroup]="planoPgmAluno">

                <br>

                <mat-form-field appearance="standard" style="width: 200px;">
                    <mat-label>Plano pagamento</mat-label>
                    <mat-select formControlName="planoId" selected required>
                        <mat-option></mat-option>
                        <mat-option (click)="buscaPlanoPgm(plan.id)" *ngFor="let plan of planosPgm" [value]="plan.id">
                            {{plan.descricao}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="showPlano">

                    <mat-form-field appearance="outline" style="width: 70px; margin-left: 15px;">
                        <mat-label>parcelas</mat-label>
                        <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" min="1"
                            formControlName="parcelas" selected matInput>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 190px;margin-left: 15px;">
                        <mat-label>Parcelas a partir de</mat-label>
                        <input matInput [matDatepicker]="dp3" formControlName="diaDefault" disabled>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="outline" style="width: 130px;">
                        <mat-label>Valor do pacote</mat-label>
                        <input selected formControlName="valor" currencyMask
                            [options]="{ prefix: '', thousands: '.', decimal: ',' }" matInput>
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 130px; margin-left: 45px;">
                        <mat-label>Valor da parcela</mat-label>
                        <input selected [value]="valorParcela | currency:'BRL':true:'1.2-2'" disabled matInput>
                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 140px; margin-left: 45px;">
                        <mat-label>Bônus pontualidade</mat-label>
                        <input selected formControlName="bonusPontualidade" currencyMask
                            [options]="{ prefix: '', thousands: '.', decimal: ',' }" matInput placeholder="00,00">
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>

                    <br>

                 
                    <div class="table-responsive" style="">
                        <table color="primary" style="margin-bottom: 0px;" class="table">
                           
                            <thead>
                                <tr>                                  
        
                                    <th style="width: 40%;font-size:0.9em;
                                vertical-align: middle; 
                                text-align:left;
                                 border-top: 0px; font-weight: 400;">PARCELA</th>
        
                                    <th style="width: 29%;font-size:0.9em;
                                vertical-align: middle;
                                text-align:center;
                                border-top: 0px; font-weight: 400;">VENCIMENTO</th>
        
                                    <th style="width: 29%;font-size:0.9em;
                                text-align:center; 
                                vertical-align: middle;
                                border-top: 0px; font-weight: 400;">VALOR</th>
        

                                   
                                </tr>
                            </thead>
                            <tbody>
        
                                <tr *ngFor="let parc of todasparcelas">
                                    <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                                      {{ parc.parcelaNo }}/{{ todasparcelas.length }} MENSALIDADE
                                    </td>
        
                                    <td style="font-size:0.9em;text-align:center;vertical-align: middle;">
                                        {{ parc.vencimento | date:'dd/MM/yyyy'}} 
                                    </td>
        
                                    <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                        {{ parc.valor | currency:'BRL':true:'1.2-2'}} 
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </ng-container>
                <br>

            </form>

        </mat-tab>

    </mat-tab-group>

   
    <!-- <mat-progress-bar [style.visibility]="saveProgressBar" mode="query"></mat-progress-bar>

    <span *ngFor="let msg of errorMsg" style="margin-top: 20px; font-size: 0.8em;color: red;width: 350px;">
        {{ msg }}

    </span> -->


    <span  >
        <form novalidate  style="width: 200px; float: right;">

            <mat-progress-bar *ngIf="disabldSaveButton" style="margin:0px" mode="query"></mat-progress-bar>
                <div style="bottom: 0; float:right;">
                    <button type="button" (click)="salvarMat()" [disabled]="disabldSaveButton" mat-raised-button
                        color="primary" style="bottom: 0; float:right;margin-bottom: 0px;margin-left: 10px;">
                        Confirmar matrícula
                    </button>
                </div>
                


            <!-- <button type="submit"  mat-raised-button color="primary"
                style="float:right;margin-top: 10px">

                salvar
            </button> -->
        </form>
    </span>

</div>
