::ng-deep .mat-form-field {
    font-size: 0.9em;
}

::ng-deep .myalunomat-class .mat-dialog-container {
  
    height: 79vh;
    width: 850px;
  
  }

  ::ng-deep .mat-tab-group.alunomatricula {
    height: 500px !important;
  }
