::ng-deep .mat-form-field {  
    font-size: 0.9em;
  }
  
  ::ng-deep .mymoduloedit-class .mat-dialog-container {
    
    height: 70vh;
    width: 850px;
  
  }
  
  ::ng-deep .mat-tab-group{
    height: 360px !important;
  }