<div style="font-size: 1.2em;">Cadastrar Supervisor
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<div style="font-size: 0.9em;margin-top: 5px;">* Hospiral TODO?</div>
<hr>
<div style="position: relative;">

    <form  novalidate [formGroup]="colaboradorForm" style=""
        (ngSubmit)="onSubmit(colaboradorForm)">


        <mat-form-field appearance="standard" style="width: 250px;">
            <mat-label>Nome</mat-label>
            <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
        </mat-form-field>

        <!-- <mat-form-field appearance="standard" style="width: 45%; margin-left: 10%;">
            <mat-label>Email</mat-label>
            <input selected formControlName="email" name="templateName" matInput placeholder="Email">
        </mat-form-field> -->

        <mat-form-field appearance="standard" style="width: 220px; margin-left: 10px;">
            <mat-label>Email</mat-label>
            <input (focusout)="buscarEmail($event)" selected formControlName="email" name="email" matInput
                placeholder="Email">
            <mat-hint @rowHighlight *ngIf="validadeEmailMsg" style="color: red;">
                O email informado já existe
            </mat-hint>
        </mat-form-field>
        <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar " matTooltipPosition="above"
                            matTooltipHideDelay="100">
                            <button style="margin: 0px; margin: 0px;" mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </i> -->



        <mat-form-field appearance="standard" style="width: 140px;margin-left: 10px;">
            <mat-label>CPF</mat-label>
            <input (focusout)="buscarCPF(colaboradorForm.get('cpf').value)" mask="000.000.000-00"
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" formControlName="cpf"
                minlength="11" maxlength="14" selected name="templateName" matInput placeholder="digite o CPF">
            <mat-hint @rowHighlight *ngIf="validadeCPFMsg" style="color: red;">
                O CPF informado já existe
            </mat-hint>
        </mat-form-field>


        <br>

        <!-- <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
            <mat-label>celular</mat-label>
            <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected formControlName="celular" name="templateName" matInput placeholder="">
        </mat-form-field> -->

        <!-- <mat-form-field style="width: 21%; margin-bottom: 10px; 
        margin-left: 2%;" appearance="standard">
        <mat-label>Celular</mat-label>
        <example-tel-input name="celular" formControlName="celular" 
            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"></example-tel-input>
    </mat-form-field> -->

        <mat-form-field style="width: 150px;" appearance="standard">
            <mat-label>Celular</mat-label>
            <input name="celular" formControlName="celular" mask="(00) 00000-0000" matInput
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">

            <!-- <mat-icon matSuffix>phone</mat-icon> -->
            <!-- <mat-hint>telefone com DDD</mat-hint> -->
        </mat-form-field>





        <!-- <mat-form-field appearance="standard" style="width: 200px;margin-left: 10px;">
            <mat-label>Cargo/Função</mat-label>
            <mat-select formControlName="cargoId" selected name="cargoId" required>
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle style="width: 15%; margin-left: 40px;" class="autoPagination-slide" #tooltip="matTooltip"
            formControlName="ativo" name="ativo" required matTooltip="ativo/inativo" matTooltipPosition="above"
            matTooltipHideDelay="250" color="primary">
        </mat-slide-toggle> -->

        <!-- <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
            <mat-label>Disciplina</mat-label>
            <mat-select selected name="cargo" required >
                <mat-option value=""></mat-option>
                <mat-option >Enfermagem</mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="standard" style="width: 25%; margin-left: 2%;">
            <mat-label>Unidade</mat-label>
            <mat-select selected formControlName="unidade" name="newCat">
                <mat-option></mat-option>
                <mat-option *ngFor="let item of unidades" [value]="item.value">
                    {{ item.value }}
                </mat-option>

            </mat-select>
        </mat-form-field> -->
        <br>

        <mat-form-field appearance="standard" style="width: 150px;">
            <mat-label>CEP</mat-label>
            <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" #cep
                formControlName="cep" minlength="8" maxlength="8" required name="templateName" matInput
                placeholder="apenas números">
        </mat-form-field>
        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button type="button" (click)="consultaCEP(cep.value)" style="margin: 0px; margin: 0px;" mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </i>

        <br>

        <div *ngIf="showEndereco" @rowHighlight>
            <mat-form-field appearance="standard" style="width: 250px;">
                <mat-label>Logradouro</mat-label>
                <input selected formControlName="logradouro" name="templateName" matInput placeholder="ex: rua tal...">
            </mat-form-field>


            <mat-form-field appearance="standard" style="width: 80px;margin-left: 10px;">
                <mat-label>Nº</mat-label>
                <input formControlName="numero" selected name="templateName" matInput placeholder="ex: rua tal...">
            </mat-form-field>


            <mat-form-field appearance="standard" style="width: 200px; margin-left: 10px;">
                <mat-label>Complemento</mat-label>
                <input selected formControlName="complemento" name="templateName" matInput
                    placeholder="ex: nº 123... sala 10... apto 123...">
            </mat-form-field>

            <br>

            <mat-form-field appearance="standard" style="width: 200px;">
                <mat-label>Cidade</mat-label>
                <input disabled selected [value]="colaboradorForm.get('cidade').value" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 40px; margin-left: 10px;">
                <mat-label>UF</mat-label>
                <input disabled selected [value]="colaboradorForm.get('uf').value" name="templateName" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 200px; margin-left: 10px;">
                <mat-label>Bairro</mat-label>
                <input selected formControlName="bairro" name="templateName" matInput placeholder="digite o bairro">
            </mat-form-field>
        </div>






        <!-- <mat-form-field appearance="standard" style="width: 40%; margin-left: 15px;">
                            <mat-label>Perfil</mat-label>
                            <mat-select selected formControlName="newCat" name="newCat">
                                <mat-option></mat-option>
                                <mat-option>
                                    Super Adm
                                </mat-option>
                                <mat-option>
                                    Administrador
                                </mat-option>
                                <mat-option>
                                    Professor
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                
                
                        <mat-slide-toggle style="width: 30%; margin-left: 10%;" class="autoPagination-slide" #tooltip="matTooltip"
                            matTooltip="ativo/inativo" matTooltipPosition="above" matTooltipHideDelay="250" color="primary">
                        </mat-slide-toggle> -->




        <!-- <mat-form-field  appearance="standard"
                                            style="width: 32%;margin-left: 2%;">
                                            <mat-label>Type</mat-label>
                                            <mat-select formControlName="newFunc" name="newFunc" required selected>
                                                <mat-option></mat-option>
                                                <mat-option >
                                                    teste
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->

        <!-- <span type="submit" matTooltip="adicionar tarefa ao template" matTooltipPosition="left"
                                             class="material-icons" style="float: left;">
                                            addchart
                                        </span> 
                
                                        <span 
                                            style="vertical-align: middle;margin-left:5px; font-size: 0.8em;">* adicione pelo menos uma tarefa</span>
                                       
                                        <span style="color:green; vertical-align: middle;margin-left: 5px;" class="material-icons">done</span> -->


        <!-- <table color="primary" *ngIf="templateTasks?.length > 0" style="margin-bottom: 0px;"
                                            class="table">
                
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%;border-top: 0px;"></th>
                                                    <th style="width: 50%;font-size:1.5em;border-top: 0px; font-weight: 400;">Nome</th>
                                                    <th style="width: 30%;font-size:1.5em;border-top: 0px; font-weight: 400;">Duração
                                                    </th>
                                                    <th style="width: 15%;border-top: 0px;"></th>
                                         </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of templateTasks;let i = index;">
                                                    <td>{{i+1}}</td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.hour}}hr {{item.minute}}m</td>
                                                    <td>
                                                        <i type="submit" #tooltip="matTooltip" matTooltip="deletar tarefa"
                                                            (click)="deleteItem(i+1)" matTooltipPosition="above"
                                                            matTooltipHideDelay="100" class="material-icons md-dark">delete_outline</i>
                                                    </td>
                                                </tr>
                
                                            </tbody>
                
                                        </table> -->

        <!-- </div> -->
        <div *ngIf="showMensagem" class="alert alert-danger" role="alert"
            style="text-align: center; vertical-align: middle; position:relative; height: 45px; float:left;margin-bottom: 20px;">
            {{mensagem}}
        </div>

        <!-- <button type="submit" mat-raised-button disabled="false" color="primary"
    style="float:right;margin-bottom: 0px;margin-left: 10px;"
         [disabled]="!colaboradorForm.valid">
        Salvar
    </button> -->

        <!-- <button type="submit" mat-raised-button [disabled]="!colaboradorForm.valid" color="primary"
            style="float:right;margin-bottom: 0px;margin-left: 10px;">
            Salvar
        </button> -->


        <div style="float: right;margin-top: 15px;">
            <button color="primary" type="submit" [disabled]="disabledSaveButton" mat-raised-button
             style="width: 100px; position: relative; float:right;margin-bottom: 10px;
        margin-left: 10px;">
                <mat-spinner *ngIf="disabledSpinner" [diameter]="33" style="margin-left: 18px;
                
        margin-top: 2px; position: absolute;">
                </mat-spinner>
                Salvar
            </button>
        </div>

        <!-- <button style="float:right;margin-bottom: 10px;" mat-raised-button
        [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button> -->

        <!-- <div mat-dialog-actions>
        <button mat-raised-button (click)="onOkClick()">Ok</button>
        <button mat-raised-button [mat-dialog-close]="{clicked:'Cancel'}">Cancel</button>
    </div> -->


    </form>
    <!-- <ng-template #showSpinner>

        <mat-spinner @rowHighlight [diameter]="100" style="margin-left: 42.5%;
    margin-top: 10%; 
    position: absolute;">
        </mat-spinner>
    </ng-template> -->
</div>

<!-- </div>
                        </div>
                    </div>
                </div> -->