<div class="container">

    <div class="row" style="margin-bottom: 10px;">
        <!-- <mat-card class="example-card">
        <mat-card-header> -->
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <div style="font-size: 1.2em;">Cadastro realizado com sucesso!</div>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->

        <div >
            Deseja matricular o aluno em alguma turma?
        </div>





    </div>
    <div class="row">
        <button style="width: 30px;" [mat-dialog-close]="{clicked:'Sim'}" mat-button>SIM</button>
        <button style="width: 30px;" [mat-dialog-close]="{clicked:'Cancel'}" mat-button>NÃO</button>
    </div>
</div>