<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div style="font-size: 1.2em;">Tem certeza que deseja inicar a Turma?</div>
        <!-- <div>
            A turma será iniciada no dia de amanhã! Deseja confirmar?
        </div> -->
    </div>
    <div class="row">
        <button style="width: 30px;" [mat-dialog-close]="{clicked:'Sim'}" mat-button>SIM</button>
        <button style="width: 30px;" [mat-dialog-close]="{clicked:'Cancel'}" mat-button>NÃO</button>
    </div>
</div>