<div style="font-size: 1.2em;">
    Visualizar/Editar Colaborador
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<hr>

<div *ngIf="showForm" style="position: relative;">

    <form novalidate #form="ngForm" (ngSubmit)="edit(form)" style="">
        <!-- <div class="card-body"> -->

        <mat-form-field appearance="standard" style="width: 45%; ">
            <mat-label>Nome</mat-label>
            <input selected name="nome" oninput="this.value = this.value.toUpperCase()" matInput required [(ngModel)]="editedColaborador.nome">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 45%; margin-left: 10%;">
            <mat-label>Email</mat-label>
            <input selected name="email" disabled matInput [(ngModel)]="editedColaborador.email">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 18%;">
            <mat-label>CPF</mat-label>
            <input disabled selected name="cpf" matInput [value]="editedColaborador.cpf | cpf">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
            <mat-label>celular</mat-label>
            <input selected name="celular" required mask="(00) 00000-0000" matInput [(ngModel)]="editedColaborador.celular">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
            <mat-label>Cargo/Função</mat-label>
            <mat-select placeholder="cargo/função" [(ngModel)]="editedColaborador.cargoId" name="cargo">
                
                <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
                    {{cargo.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle style="width: 15%; margin-left: 40px;" class="autoPagination-slide" #tooltip="matTooltip"
            [(ngModel)]="editedColaborador.ativo" name="ativo" required matTooltip="ativo/inativo" 
            [required]="false"
            matTooltipPosition="above" matTooltipHideDelay="250" color="primary">
        </mat-slide-toggle>

        <!-- <mat-form-field appearance="standard" style="width: 25%; margin-left: 2%;">
            <mat-label>Unidade</mat-label>
            <mat-select selected [(ngModel)]="editedColaborador.unidade" name="unidade">
                <mat-option></mat-option>
                <mat-option *ngFor="let item of unidades" [value]="item.value">
                    {{ item.value }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <br>

        <mat-form-field appearance="standard" style="width: 15%;">
            <mat-label>CEP</mat-label>
            <input required #cep selected mask="00.000-000" name="cep" minlength="8" maxlength="10" 
            matInput [(ngModel)]="editedColaborador.cep">
        </mat-form-field>
        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="pesquisar CEP" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <span type="button" (click)="consultaCEP(cep.value)" style="margin: 0px; margin: 0px;" mat-icon-button>
                <mat-icon>search</mat-icon>
            </span>
        </i>
        <br>
        <div>
            <mat-form-field appearance="standard" style="width: 250px;">
                <mat-label>Logradouro</mat-label>
                <input disabled [(ngModel)]="editedColaborador.logradouro" oninput="this.value = this.value.toUpperCase()" selected name="logradouro" matInput>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 80px;margin-left: 10px;">
                <mat-label>Nº</mat-label>
                <input [(ngModel)]="editedColaborador.numero" oninput="this.value = this.value.toUpperCase()" required selected name="numero" matInput placeholder="ex: rua tal...">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 200px; margin-left: 10px;">
                <mat-label>Complemento</mat-label>
                <input selected name="complemento" matInput oninput="this.value = this.value.toUpperCase()" [(ngModel)]="editedColaborador.complemento">
            </mat-form-field>

            <br>

            <mat-form-field appearance="standard" style="width: 200px">
                <mat-label>Cidade</mat-label>
                <input disabled selected name="cidade" matInput oninput="this.value = this.value.toUpperCase()" [(ngModel)]="editedColaborador.cidade">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 40px; margin-left: 10px;">
                <mat-label>UF</mat-label>
                <input disabled selected [(ngModel)]="editedColaborador.uf" oninput="this.value = this.value.toUpperCase()" name="uf" matInput
                    placeholder="digite o bairro">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 200px; margin-left: 10px;">
                <mat-label>Bairro</mat-label>
                <input disabled selected name="bairro" matInput oninput="this.value = this.value.toUpperCase()" [(ngModel)]="editedColaborador.bairro">
            </mat-form-field>
            
            
        </div>

        <div style="float: right;margin-top: 15px;">
            <button color="primary" [disabled]="desabilitar(form)" type="submit" mat-raised-button 
            style="position: relative; float:right;
                margin-left: 10px;">
                <mat-spinner *ngIf="disabledSpinner" [diameter]="33" style="margin-left: 18px;
        
                margin-top: 2px; position: absolute;">
                </mat-spinner>
                Salvar
            </button>
        </div>  
        <button type="button" (click)="openSnackBar()" > snack</button>
        
    </form>


</div>