/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// div{
//     border: 1px solid red;
// }
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-green);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);


$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

.alternate-theme {
    $alternate-primary: mat-palette($mat-green);
    $alternate-accent: mat-palette($mat-green, 400);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}

body {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0;
    right: 0;
    background: url(./assets/img/background.jpeg) no-repeat center center fixed; 
    //background-size:cover; //width:auto;
   // background-image:url(../../assets/img/invictus1080.jpg); //no-repeat center center fixed;
    background-position: right bottom 20px;
    //border: 1px solid red;
    
    }


    // mat-dialog-container{
    //     margin:0px;
    //     padding:0px;
    //     background-color: rgb(227, 240, 227) !important;
    // }

    *{
        font-family: 'Glory', sans-serif;
    }
    